
<h3> Check in Reminder </h3>
<p>Dear <strong> @Model.FullName </strong>,</p>
<p> we are Glade to remind you that your check in Date at @Model.CheckInDate   </p>


  checkInDeatils :
  { FlightDetails }
