
  <p>Dear <strong> @Model.FullName </strong>,</p>
  Thank you for Booking with us.
  <br />

  <p> here is your Ground Service Booking Details.</p>
  <br />

  your package: @Model.GrPackage
  <br />
  <p> the service company for your package is @Model.CompanyName </p>
