<div>
    <div style="margin-bottom:10px" ng-show="user.PermessionModules['News'].includes('add_new')">
        <!-- <div id="bold"> {{'AddNewArtWorkBtn'| translate}} </div> -->
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
            ng-click="$state.go('newArtWork');" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">
            {{'AddNew'| translate}}</button>
    </div>

    <div ng-if="ArtWorkList.length == null">
        <span>{{'NoArtWorksAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="ArtWorkList.length > 0">
        <div class="table-responsive">
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th>{{'title' | translate}}</th>
                        <th>{{'StatusLbl' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ArtWork in ArtWorkList">
                        <td data-title="Name">
                            {{ArtWork.title[selectedLanguage]   | limitTo : 20}}
                            {{ArtWork.title[selectedLanguage].length > 20 ? '...' : ''}}
                        </td>
                        <td ng-show="!ArtWork.outdated">
                            <div ng-if="user.PermessionModules['ArtWork'].includes('view')==true">
                                <div class="btn-switch" ng-class="{'btn-switch--on':ArtWork.outdated}"
                                    ng-model="ArtWork.outdated" ng-click="ArtWorkCtrl.ChangeStatus(ArtWork)">

                                    <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':ArtWork.outdated}"
                                        ng-model="ArtWork.outdated" ng-click="ArtWorkCtrl.ChangeStatus(ArtWork)">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td ng-show="ArtWork.outdated">
                            <div class="btn-switch" ng-class="{'btn-switch--on':ArtWork.outdated}"
                                ng-click="ArtWorkCtrl.ChangeStatus(ArtWork)" ng-model="ArtWork.outdated">

                                <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':ArtWork.outdated}"
                                    ng-click="ArtWorkCtrl.ChangeStatus(ArtWork)" ng-model="ArtWork.outdated">
                                </div>
                        </td>
                        <td width="30%">
                            <i ng-show="user.PermessionModules['ArtWork'].includes('add_new')"
                                class="material-icons md-dark pmd-md cursorPointer font25"
                                ng-click="$state.go('editArtWork',{id: ArtWork.id});" title="Edit">mode_edit</i>
                            <i ng-show="user.PermessionModules['ArtWork'].includes('remove')"
                                class="material-icons pmd-md deleteButton cursorPointer font25"
                                ng-click="ArtWorkCtrl.openDeleteDialog(ArtWork,ArtWork.title[selectedLanguage] ,ArtWork.id)"
                                title="Delete">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount"
        paging-action="ArtWorkCtrl.changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
        hide-if-empty="true" disabled-class="hide">
    </div>
</div>