<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text"> {{'AddNewArtWorkMediaBtn' | translate}} </h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newArtWorkMediaForm">
            <div class="row">
                <div class="form-group col-lg-4">
                    <span style="color:red">*</span> 
                    <div ng-repeat="n in [] | range:newArtWorkMediaCtrl.filesCount">
                        <!-- 
                        <div ">
                            <input type="file" file-model="{{'myFile' + $index}}"/>
                            <button ng-click="uploadFile('myFile' + $index)">upload me</button>
                        </div> -->


                        <input id="{{mediaImage + $index}}" name="{{mediaImage + $index}}" style="display: none;"
                            onchange="angular.element(this).scope().AddmediaImage(this.files)" type="file" required
                            file-change handler="fileSelect(files)" ng-repeat="file in newArtWorkMediaCtrl.filesCount">
                        <button class="btn btn-success btn-xs pull-center"
                            ng-click="newArtWorkCtrl.LoadUploadmedia()">{{'Upload Receipt' | translate}}</button>

                        <div ng-messages="newArtWorkForm.mediaImage.$error">
                            <div ng-if="newArtWorkForm.mediaImage.$error.required">{{'requiredErr' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
            ng-disabled="newArtWorkMediaForm.$invalid ||  newArtWorkMediaCtrl.selectedNominee ==null ||  newArtWorkMediaCtrl.selectedAward ==null"
            class="btn pmd-ripple-effect btn-primary" ArtWorkMedia="button"
            ng-click="newArtWorkMediaCtrl.AddNewArtWorkMedia()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" ArtWorkMedia="button"
            ng-click="newArtWorkMediaCtrl.close()">{{'DiscardBtn' | translate}}</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".select-add-tags").select2({
            tags: true,
            theme: "bootstrap",
            insertTag: function (data, tag) {
                data.push(tag);
            }
        });
        $(".select-with-search").select2({
            theme: "bootstrap"
        });
    });
</script>