<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text"> {{'AddNewArtWorkBtn' | translate}} </h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newArtWorkForm">
            <div class="row">
                <div class="form-group col-lg-4">
                    <label for="first-name">{{'Award' | translate}}</label>
                    <select required style="width:100% !important"
                        class="form-control select-with-search pmd-select2-tags" ng-model="newArtWorkCtrl.selectedAward"
                        ng-options="group as group.title for group in newArtWorkCtrl.awardList">
                    </select>
                </div>

                <div class="form-group col-lg-4"> <label for="first-name">{{'Nominee' | translate}}</label>
                    <select required style="width:100% !important"
                        class="form-control select-with-search pmd-select2-tags"
                        ng-model="newArtWorkCtrl.selectedNominee"
                        ng-options="group as group.firstName  for group in newArtWorkCtrl.nomineeList">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4">
                    <label for="first-name">{{'ArtWorkName' | translate}}</label>
                    <input type="text" class="form-control" name="title" style="display: inline-block; "
                        ng-model="newArtWorkCtrl.Title" required />
                    <div class="error" ng-messages="newArtWorkForm.title.$error">
                        <div ng-if="newArtWorkForm.title.$error.required && 
                    !newArtWorkForm.title.$pristine">{{'requiredErr' | translate}}</div>
                    </div>
                </div>

                <div class="form-group col-lg-4">
                    <label for="first-name">{{'FilesCount' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="fileCount" numbers-only
                        style="display: inline-block;" ng-minlength="1" ng-maxlength="4"
                        ng-model="newArtWorkCtrl.FileCount" required />
                    <!-- required validation  -->
                    <div ng-messages="newArtWorkForm.fileCount.$error">
                        <div class="error" ng-if="newArtWorkForm.fileCount.$error.required && 
                                        !newArtWorkForm.fileCount.$pristine">
                            {{'requiredErr' |  translate}}
                        </div>
                        <!-- length validation -->
                        <div class="error" ng-if="(newArtWorkForm.fileCount.$error.minlength ||
                                            newArtWorkForm.fileCount.$error.maxlength) 
                                             && !newArtWorkForm.fileCount.newfileCount.$error.required">
                            {{'PhoneLengthError' |  translate}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
            ng-disabled="newArtWorkForm.$invalid ||  newArtWorkCtrl.selectedNominee ==null ||  newArtWorkCtrl.selectedAward ==null" class="btn pmd-ripple-effect btn-primary"
            ArtWork="button" ng-click="newArtWorkCtrl.AddNewArtWork()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" ArtWork="button"
            ng-click="newArtWorkCtrl.close()">{{'DiscardBtn' | translate}}</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".select-add-tags").select2({
            tags: true,
            theme: "bootstrap",
            insertTag: function (data, tag) {
                data.push(tag);
            }
        });
        $(".select-with-search").select2({
            theme: "bootstrap"
        });
    });
</script>