<style>
    form .progress {
        line-height: 15px;
    }

    .progress {
        display: inline-block;
        width: 100px;
        border: 3px groove #ccc;
    }

    .progress>div {
        font-size: smaller;
        background: linear-gradient(90deg, #f7e483, #dbba5a 57%, #a36d31);
        width: 0%;
    }
</style>
<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text"> {{'AddNewUploadChunkBtn' | translate}} </h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newUploadChunkForm">

            <input type="file" id="file">
            <div id="dvProgress" class="progress" ng-show="Progress >= 0">
            </div>
        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
            ng-disabled="newUploadChunkForm.$invalid" class="btn pmd-ripple-effect btn-primary" UploadChunk="button"
            ng-click="uploadVideo()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" UploadChunk="button"
            ng-click="newUploadChunkCtrl.close()">{{'DiscardBtn' | translate}}</button>
    </div>
</div>