<style>
  .custom-slider {
    width: 200px;
  }
  .custom-slider.rzslider .rz-bar {
    background: #ffe4d1;
    height: 2px;
  }

  .custom-slider.rzslider .rz-selection {
    background: gold;
  }

  .custom-slider.rzslider .rz-pointer {
    width: 8px;
    height: 16px;
    top: auto;
    /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider.rzslider .rz-pointer:after {
    display: none;
  }

  .custom-slider.rzslider .rz-bubble {
    bottom: 14px;
  }

  .custom-slider.rzslider .rz-limit {
    font-weight: bold;
    color: orange;
  }

  .custom-slider.rzslider .rz-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #dbba5a;
    top: -1px;
  }

  .custom-slider.rzslider .rz-tick ul li {
    padding: 1px !important;
  }

  .custom-slider.rzslider .rz-tick.rz-selected {
    background: orange;
  }
  .show_info {
    width: 40%;
  }
  #show_inner .show_inner_one .container .show_video_show {
    width: 60%;
  }
  #show_inner .show_inner_one .container .show_info .show_details .desc {
    width: 100%;
  }
  .container {
    padding: 10px 25px 60px !important;
  }
  .voting_criteria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  vg-poster img {
    object-fit: cover;
    opacity: 1;
  }

  [videogular] vg-scrub-bar .container,
  videogular vg-scrub-bar .container {
    position: absolute !important;
    width: 100% !important;
    height: 2px !important;
    top: 24px !important;
    padding-left: 0 !important;
    padding: 0px !important;
  }
</style>
<section id="show_inner">
  <div class="show_inner_one">
    <div class="container">
      <div class="show_info">
        <div class="show_details">
          <div class="desc">
            <div class="name">
              {{judgeArtWorkDetailsCtrl.JudgeArtWork.projectName[selectedLanguage]
              }}
            </div>
            <div class="stars">
              <i class="icofont-ui-rating"></i>
              <i class="icofont-ui-rating"></i>
              <i class="icofont-ui-rating"></i>
              <i class="icofont-ui-rate-blank"></i>
              <i class="icofont-ui-rate-blank"></i>
            </div>
            <ul>
              <li class="data-item">
                <span>{{'productionLicenseAgency'| translate}} :</span>
                <p>
                  {{judgeArtWorkDetailsCtrl.JudgeArtWork.productionLicenseAgency}}
                </p>
              </li>
              <li class="data-item">
                <span>{{'productionLicenseNumber'| translate}} :</span>
                <p>
                  {{judgeArtWorkDetailsCtrl.JudgeArtWork.productionLicenseNumber}}
                </p>
              </li>
              <li class="data-item">
                <span>{{'siteUrl'| translate}} :</span>
                <p>{{judgeArtWorkDetailsCtrl.JudgeArtWork.siteUrl}}</p>
              </li>
              <li class="data-item">
                <span>{{'onlineChannels'| translate}} :</span>
                <p>{{judgeArtWorkDetailsCtrl.JudgeArtWork.onlineChannels}}</p>
              </li>
              <li class="data-item">
                <span>{{'tvChannels'| translate}} :</span>
                <p>{{judgeArtWorkDetailsCtrl.JudgeArtWork.tvChannels}}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="about_show">
          <span>About the show</span>
          <p>
            {{judgeArtWorkDetailsCtrl.JudgeArtWork.description[selectedLanguage]
            }}
          </p>
        </div>
      </div>
      <div class="show_video_show">
        <videogular class="videogular-container" oncontextmenu="return false;">
          <vg-media
            ng-if="judgeArtWorkDetailsCtrl.trailer !=''"
            vg-src="judgeArtWorkDetailsCtrl.trailer"
            vg-tracks="judgeArtWorkDetailsCtrl.tracks"
            controlsList="nodownload"
            oncontextmenu="return false;"
            vg-native-controls="false"
          >
          </vg-media>
          <vg-poster vg-url="judgeArtWorkDetailsCtrl.getCoverUrl()"></vg-poster>
          <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display
              >{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display
            >
            <vg-fullscreen-button></vg-fullscreen-button>
            <vg-volume>
              <vg-mute-button></vg-mute-button>
            </vg-volume>
          </vg-controls>
        </videogular>
        <!-- <span>
          <img data-ng-src="{{judgeArtWorkDetailsCtrl.getCoverUrl()}}" style="object-fit: scale-down;" />
        </span> -->
      </div>
    </div>
  </div>

  <div class="show_inner_two" ng-show="judgeArtWorkDetailsCtrl.showMediaList">
    <div class="container">
      <div class="show_content">
        <div class="tabs_area">
          <div class="tabs">
            <ul class="tabs-items">
              <li
                class="data-item"
                ng-repeat="tab in judgeArtWorkDetailsCtrl.tabs"
                ng-class="{'active': judgeArtWorkDetailsCtrl.selectedTab == tab, 'tab-item': true}"
                ng-click="judgeArtWorkDetailsCtrl.setActiveTab(tab)"
              >
                {{tab | translate}}
              </li>
            </ul>
          </div>
          <div class="all_tabs_content">
            <div
              class="item_tabs_content active"
              ng-show="judgeArtWorkDetailsCtrl.selectedTab == 'episodes'"
            >
              <div class="item_show">
                <div class="season_content">
                  <ol>
                    <li
                      class="data-item"
                      ng-repeat=" mediaItem in judgeArtWorkDetailsCtrl.JudgeArtWork.files"
                    >
                      <span
                        ng-click="$state.go('displayVideo',{id: mediaItem.id});"
                      >
                        <img
                          data-ng-src="{{judgeArtWorkDetailsCtrl.getPosterUrl()}}"
                          style="object-fit: scale-down;"
                        />
                      </span>
                    </li>
                  </ol>
                </div>
              </div>
            </div>

            <div
              class="item_tabs_content active"
              ng-show="judgeArtWorkDetailsCtrl.selectedTab == 'judging'"
            >
              <form class="form-horizontal" name="viewJudgeArtWorkForm">
                <div
                  class="pmd-modal-action text-right"
                  ng-hide="judgeArtWorkDetailsCtrl.judgingFinished"
                >
                  <button
                    ng-disabled="viewJudgeArtWorkForm.$invalid"
                    class="buttonGold"
                    type="button"
                    ng-click="judgeArtWorkDetailsCtrl.confirmJudgeComplete(judgeArtWorkDetailsCtrl.JudgeArtWork.projectName[selectedLanguage])"
                  >
                    {{'judgeComplete' | translate}}
                  </button>
                  <button
                    ng-disabled="viewJudgeArtWorkForm.$invalid"
                    class="buttonGold"
                    type="button"
                    ng-click="judgeArtWorkDetailsCtrl.UpdateJudgeArtWork(false)"
                  >
                    {{'saveChangesBtn' | translate}}
                  </button>
                  <!-- <button
                    class="btn pmd-ripple-effect btn-default"
                    type="button"
                    ng-click="judgeArtWorkDetailsCtrl.Close()"
                  >
                    {{'DiscardBtn' | translate}}
                  </button> -->
                </div>

                <div class="item_show">
                  <div
                    class="voting_criteria"
                    ng-repeat="critiera in judgeArtWorkDetailsCtrl.votingCriteriaList"
                  >
                    <span> {{critiera.name}}</span>

                    <rzslider
                      class="custom-slider"
                      rz-slider-model="critiera.judgeValue"
                      name="critiera+$index"
                      ng-mouseup="judgeArtWorkDetailsCtrl.changeValue(critiera.judgeValue,$index)"
                      rz-slider-options="{ floor: 0, ceil: 10, step: 1, showTicks: true}"
                    ></rzslider>
                  </div>
                </div>
              </form>
            </div>

            <div
              class="item_tabs_content active"
              ng-show="judgeArtWorkDetailsCtrl.selectedTab == 'final_thoughts'"
            >
              <form class="form-horizontal" name="finalThoughtsForm">
                <div class="row">
                  <textarea
                    name="finalThoughts"
                    cols="200"
                    rows="10"
                    required
                    placeholder="Type here your final thoughts"
                    ng-model="judgeArtWorkDetailsCtrl.finalThoughts"
                    ng-readonly="judgeArtWorkDetailsCtrl.finalThoughtsReadOnly"
                  ></textarea>
                </div>
                <div
                  class="row"
                  ng-hide="judgeArtWorkDetailsCtrl.judgingFinished"
                >
                  <button
                    ng-disabled="finalThoughtsForm.$invalid"
                    class="buttonGold"
                    type="button"
                    ng-click="judgeArtWorkDetailsCtrl.finalizeJudge(judgeArtWorkDetailsCtrl.JudgeArtWork.projectName[selectedLanguage])"
                  >
                    {{'finalizeJudge' | translate}}
                  </button>
                  <button
                    class="btn pmd-ripple-effect btn-default"
                    type="button"
                    ng-click="judgeArtWorkDetailsCtrl.resetTabs()"
                  >
                    {{'DiscardBtn' | translate}}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
