
<style>
    .shows_items {
        display: flex;
        flex-direction: column;
    }
    .level_title {
        font-size: 20px;
        margin: 0px;
        text-align: left;
    }
</style>
<div id="recent_shows">
  <div class="container">
    <div ng-if="level1Artworks.length == 0" class="empty-item">
      <span>{{'NoJudgeArtWorksAvailableForLevel1' | translate}}</span>
    </div>
    <div ng-if="level2Artworks.length == 0" class="empty-item">
      <span>{{'NoJudgeArtWorksAvailableForLevel2' | translate}}</span>
    </div>

    <div class="shows_items" ng-if="level1Artworks.length > 0">
      <div class="level_title">{{'Level1Artworks' | translate}}</div>
      <div class="items">
        <div class="item" ng-repeat="JudgeArtWork in level1Artworks">
          <div class="imgthumb">
            <a
              ng-click="$state.go('artWorkDetails',{id: JudgeArtWork.id});"
              title="{{JudgeArtWork.projectName[selectedLanguage]}}"
            >
              <img ng-src="{{JudgeArtWorkCtrl.getPosterUrl(JudgeArtWork)}}" />
              <div class="mask">
                <div class="content">
                  <p>
                    {{JudgeArtWork.projectName[selectedLanguage] | limitTo :
                    50}} {{JudgeArtWork.projectName[selectedLanguage].length >
                    50 ? '...' : ''}}
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="shows_items" ng-if="level2Artworks.length > 0">
      <div class="level_title">{{'Level2Artworks' | translate}}</div>
      <div class="items">
        <div class="item" ng-repeat="JudgeArtWork in level2Artworks">
          <div class="imgthumb">
            <a
              ng-click="$state.go('artWorkDetails',{id: JudgeArtWork.id});"
              title="{{JudgeArtWork.projectName[selectedLanguage]}}"
            >
              <img ng-src="{{JudgeArtWorkCtrl.getPosterUrl(JudgeArtWork)}}" />
              <div class="mask">
                <div class="content">
                  <p>
                    {{JudgeArtWork.projectName[selectedLanguage] | limitTo :
                    50}} {{JudgeArtWork.projectName[selectedLanguage].length >
                    50 ? '...' : ''}}
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
