<div>
    {{'editZoneDetails' | translate}}
</div>
<div>
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text">{{'ZoneDetails' | translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="row  pmd-card pmd-z-depth" style="margin-bottom: 0;">
            <div class="col-md-12 form-group pmd-textfield pmd-textfield-floating-label-completed">
                <div class="col-md-6 col-sm-6 form-group pmd-textfield pmd-textfield-floating-label-completed ">
                    <h1 class="text-center">
                        <kbd style="background-color: #494b74c4;">
                            {{'ManufactureLbl' | translate}}:
                            {{editZoneRelationCtrl.manufacture.code}} -
                            {{editZoneRelationCtrl.manufacture.name}}
                        </kbd>
                    </h1>
                </div>
                <div class="col-md-6 col-sm-6 form-group pmd-textfield pmd-textfield-floating-label-completed ">
                    <h1>
                        <kbd style="background-color: #494b74c4;">
                            {{'Zone' | translate}}:
                            {{editZoneRelationCtrl.zone.zoneCode}} -
                            {{editZoneRelationCtrl.zone.titles[selectedLanguage]}}
                        </kbd>
                    </h1>
                </div>
            </div>
            <div class="col-md-12 form-group pmd-textfield pmd-textfield-floating-label-completed">
                <div class="form-group col-lg-12">
                    <div>
                        <label for="first-name"><span style="color:red">*</span>
                            {{'DistributorLbl' | translate}}</label>
                        <select class="form-control select-with-search pmd-select2-tags" name="distributerId"
                            ng-model="editZoneRelationCtrl.selectedDistributerId"
                            ng-change="editZoneRelationCtrl.addNewZoneRelation()"
                            ng-options="group.distributorId  as group.name for group in editZoneRelationCtrl.distributers">
                        </select>
                        <div>
                            <!-- required validation -->
                            <span class="error"
                                ng-show="newZoneRelationForm.results[distributerId].$error.required && !newZoneRelationForm.results[distributerId].$pristine">
                                {{'RequiredLbl' | translate}} </span>
                            <span class="error"
                                ng-show="newZoneRelationForm.results[distributerId].$error.results[distributerId]">
                                {{' NotvalidLbl' | translate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-6 form-group pmd-textfield pmd-textfield-floating-label-completed">
                <h2> {{'ListOfRetailer' | translate}} </h2>
                <form class="newZoneRelationForm " name="newZoneRelationForm">
                    <div class=" md-card pmd-z-depth pmd-card-custom-view">
                        <div> 
                            <div class="col-xs-6  form-group pmd-textfield pmd-textfield-floating-label-completed"
                                id="pmd-textfield">
                                <input required class="form-control my-0 py-1 amber-border" type="text"
                                    aria-label="Search" name="searchInput" placeholder="   search by Retailer Name  "
                                    ng-model="editZoneRelationCtrl.searchRetailer" ng-minlength="3" ng-maxlength="255"
                                    id="searchInput">
                            </div>
                            <div ng-messages="newZoneRelationForm.searchInput.$error">
                                <div class="error"
                                    ng-show="(newZoneRelationForm.searchInput.$error.minlength || newZoneRelationForm.searchInput.$error.maxlength) && !newZoneRelationForm.searchInput.$error.required">
                                    {{'NameLengthError3' | translate}}</div>
                            </div>
                            <div class="col-xs-3  form-group pmd-textfield pmd-textfield-floating-label-completed"
                                id="pmd-textfield-verse">
                                <button id="searchBtb" ng-disabled="newZoneRelationForm.$invalid"
                                    class="btn pmd-ripple-effect btn-primary" type="button"
                                    ng-click="editZoneRelationCtrl.filterRetailer(editZoneRelationCtrl.searchRetailer)">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="15px" height="14px" viewBox="0 0 24 24" version="1.1"
                                        class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect id="bound" x="0" y="0" width="15px" height="15px" />
                                            <path
                                                d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                                id="Path-2" fill="#383a53" fill-rule="nonzero" opacity="0.3" />
                                            <path
                                                d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                                id="Path" fill="#383a53" fill-rule="nonzero" />
                                        </g>
                                    </svg>
                                    {{'search' | translate}}
                                </button>
                            </div>
                            <div class="col-sm-3  form-group pmd-textfield pmd-textfield-floating-label-completed">
                                <button class="btn pmd-ripple-effect btn-primary " type="button" id="searchBtb"
                                    ng-click="editZoneRelationCtrl.filterRetailer()">{{'All' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="pmd-card pmd-z-depth pmd-card-custom-view">
                    <div class="table-responsive">
                        <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">
                            {{'Total' | translate}}: {{editZoneRelationCtrl.retailerTotalCount}}
                        </div>

                        <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">
                            <input type="radio" ng-change="editZoneRelationCtrl.filterRetailer('','',true)"
                                ng-model="editZoneRelationCtrl.isChecked" ng-value="true"> {{'Selcted' | translate}}
                            <input type="radio" ng-change="editZoneRelationCtrl.filterRetailer('','',false)"
                                ng-model="editZoneRelationCtrl.isChecked" ng-value="false"> {{'UnSelcted' | translate}}
                        </div>
                        <table class="table pmd-table table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 10px">
                                    </th>
                                    <th>{{'image' | translate}}</th>
                                    <th>{{'RetailerLbl' | translate}}</th>
                                    <th>{{'GovernateLbl' | translate}}</th>
                                    <th>{{'CityLbl' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Retailer in editZoneRelationCtrl.retailers.entities"
                                    ng-class="{selected: Retailer.isChecked}">
                                    <td><input type="checkbox" ng-model="Retailer.isChecked"
                                            ng-change="editZoneRelationCtrl.selectRetailer(Retailer)"></td>
                                    <td>
                                        <img style="width: 57px;"
                                            data-ng-src="{{editZoneRelationCtrl.appCONSTANTS.Image_URL_ACTOR}}{{Retailer.companyLogo}}" />
                                    </td>
                                    <td style="width:  40% !important;">{{Retailer.code}} - {{Retailer.name }}</td>
                                    <td style="width: 30% !important;">{{Retailer.city.titles[selectedLanguage]}}</td>
                                    <td>{{Retailer.governrate.titles[selectedLanguage]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align:center;direction: ltr" paging page="1" page-size="10"
                        total="editZoneRelationCtrl.retailerTotalCount"
                        paging-action="editZoneRelationCtrl.changeRetailerPage(page)" flex="nogrow"
                        show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
                    </div>
                </div>
                </form>

            </div>
            <div class="col-md-6 form-group pmd-textfield pmd-textfield-floating-label-completed ">
                <h2>
                    {{'ListOfProduct' | translate}}
                </h2>
                <form class="form-horizontal" name="ZoneProductForm">
                    <div class="md-card pmd-z-depth pmd-card-custom-view">
                        <div>
                            <div class="col-xs-6  form-group pmd-textfield pmd-textfield-floating-label-completed"
                                id="pmd-textfield">
                                <input required type="text" class="form-control" name="searchInput"
                                    placeholder="  search by Product Name   " ng-model="editZoneRelationCtrl.searchText"
                                    id="searchInput" ng-minlength="3" ng-maxlength="255">
                            </div>
                            <div ng-messages="ZoneProductForm.searchInput.$error">
                                <!-- 
                                  <div class="error"
                                    ng-show="ZoneProductForm.searchInput.$error.required && !ZoneProductForm.searchInput.$pristine">
                                    {{'requiredErr' | translate}}</div> -->
                                <div class="error"
                                    ng-show="(ZoneProductForm.searchInput.$error.minlength || ZoneProductForm.searchInput.$error.maxlength) && !ZoneProductForm.searchInput.$error.required">
                                    {{'NameLengthError255' | translate}}</div>
                            </div>
                            <div class="col-xs-3  form-group pmd-textfield pmd-textfield-floating-label-completed"
                                id="pmd-textfield-verse">
                                <button id="searchBtb" ng-disabled="ZoneProductForm.$invalid"
                                    class="btn pmd-ripple-effect btn-primary" type="button"
                                    ng-click="editZoneRelationCtrl.filterProduct(editZoneRelationCtrl.searchText)">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="15px" height="14px" viewBox="0 0 24 24" version="1.1"
                                        class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect id="bound" x="0" y="0" width="15px" height="15px" />
                                            <path
                                                d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                                id="Path-2" fill="#383a53" fill-rule="nonzero" opacity="0.3" />
                                            <path
                                                d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                                id="Path" fill="#383a53" fill-rule="nonzero" />
                                        </g>
                                    </svg>
                                    {{'search' | translate}}</button>
                            </div>
                            <div class="col-sm-3  form-group pmd-textfield pmd-textfield-floating-label-completed">
                                <button class="btn pmd-ripple-effect btn-primary" type="button" id="searchBtb"
                                    ng-click="editZoneRelationCtrl.filterProduct()">{{'All' | translate}}</button>
                            </div>

                        </div>


                    </div>
                </form>
                <div class="pmd-card pmd-z-depth pmd-card-custom-view">
                    <div class="table-responsive">
                        <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">
                            {{'Total' | translate}}: {{editZoneRelationCtrl.productTotalCount}}
                        </div>
                        <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">
                            <input type="radio" ng-change="editZoneRelationCtrl.filterProduct('','',true)"
                                ng-model="editZoneRelationCtrl.isChecked" ng-value="true"> {{'Selcted' | translate}}
                            <input type="radio" ng-change="editZoneRelationCtrl.filterProduct('','',false)"
                                ng-model="editZoneRelationCtrl.isChecked" ng-value="false">
                            {{'UnSelcted' | translate}}
                        </div>
                        <table class="table pmd-table table-hover">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th>{{'image' | translate}}</th>
                                    <th>{{'ProductDescLbl' | translate}}</th>
                                    <th>{{'Category' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in editZoneRelationCtrl.products.entities"
                                    ng-class="{selected: product.isChecked}">

                                    <td><input type="checkbox" ng-model="product.isChecked"
                                            ng-change="editZoneRelationCtrl.selectProduct(product)"></td>
                                    <td>
                                        <img style="width: 34px;"
                                            data-ng-src="{{editZoneRelationCtrl.appCONSTANTS.Image_URL_ORDER}}{{product.image}}" />
                                    </td>
                                    <td style="width:  40% !important;">{{product.code}} -
                                        {{product.description[selectedLanguage] | limitTo: 15}}</td>
                                    <td style="width: 30% !important;">{{product.category.titles[selectedLanguage]}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align:center;direction: ltr" paging page="1" page-size="10"
                        total="editZoneRelationCtrl.productTotalCount"
                        paging-action="editZoneRelationCtrl.changeProductPage(page)" flex="nogrow" show-prev-next="true"
                        show-first-last="true" hide-if-empty="true" disabled-class="hide">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>
            <a onclick="goBack()">
                <div class="col-xs-12">
                    <button type="button"
                    class="btn btn-primary" 
                    style="height: 36px;border: #494b74 solid 1px;border-radius: 6px;">
                    {{'goBack' | translate}}
                    </button>
                </div>
                </a>
        </div>