<div>
        {{'NewZoneDetails' | translate}}
</div>
<div class="container">
    <!-- header -->
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text">{{'ZoneRelationLbl' | translate}}</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="vm-container">
                <!-- ZoneRelation form step -->
                <div id="vm-step-container">
                    <ul class="nav nav-pills nav-justified">
                        <li ng-repeat="step in newZoneRelationCtrl.steps"
                            ng-class="{'active':step.step == newZoneRelationCtrl.currentStep}">
                            <a> {{step.step | translate }}. {{step.name | translate}}</a>
                        </li>
                    </ul>
                </div>

                <!-- function -- get pages  -->
                <div id="vm-content-container">
                    <ng-include src="newZoneRelationCtrl.getStepTemplate()"></ng-include>
                </div>
                <!-- previous button  -->
                <div id="vm-navigation-container" class="col-lg-12">
                    <div class="pull-right">
                        <span class="btn-group">
                                <button class="btn btn-primary" name="next" type="button"
                                onclick="goBack()"> {{'goBack' | translate}}</button>
                            <button ng-disabled="newZoneRelationCtrl.currentStep <= 1" class="btn btn-default"
                                name="previous" type="button"
                                ng-click="newZoneRelationCtrl.gotoStep(newZoneRelationCtrl.currentStep - 1)"><i
                                    class="fa fa-arrow-left"></i> {{'PreviousStep' | translate}}
                            </button>
                            <!-- next button  -->
                            <button ng-disabled="newZoneRelationCtrl.currentStep >=newZoneRelationCtrl.steps.length"
                                class="btn btn-primary" name="next" type="button"
                                ng-click="newZoneRelationCtrl.gotoStep(newZoneRelationCtrl.currentStep + 1)">{{'Nextstep' | translate}}
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>