<div class="modal-content container">
  <h2> {{'ListOfRetailer' | translate}} </h2>

  <div class="modal-body">
    <form class="newZoneRelationForm" name="newZoneRelationForm">
      <div class="row">
        <div class="col-md-3  form-group pmd-textfield pmd-textfield-floating-label-completed">

          <input required type="text" class="mat-input form-control" name="searchInput"
            placeholder="search by Retailer Name" ng-model="newZoneRelationCtrl.searchText" ng-minlength="3"
            ng-maxlength="255">
          <div ng-messages="newZoneRelationForm.searchInput.$error">
            <!-- 
            <div class="error"
              ng-show="newZoneRelationForm.searchInput.$error.required && !newZoneRelationForm.searchInput.$pristine">
              {{'requiredErr' | translate}}</div> -->
            <div class="error"
              ng-show="(newZoneRelationForm.searchInput.$error.minlength || newZoneRelationForm.searchInput.$error.maxlength) && !newZoneRelationForm.searchInput.$error.required">
              {{'NameLengthError3' | translate}}</div>
          </div>
          <div class="col-md-5  form-group pmd-textfield pmd-textfield-floating-label-completed">
            <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
              ng-disabled="newZoneRelationForm.$invalid" class="btn pmd-ripple-effect btn-primary" type="button"
              ng-click="newZoneRelationCtrl.filterRetailer(newZoneRelationCtrl.searchText)">{{'search' | translate}}</button>
          </div>

          <div class="col-md-5  form-group pmd-textfield pmd-textfield-floating-label-completed">
            <button class="btn pmd-ripple-effect btn-default" type="button"
              ng-click="newZoneRelationCtrl.filterRetailer()">{{'All' | translate}}</button>
          </div>
        </div>
        
        <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">
          <input type="radio" ng-change="newZoneRelationCtrl.filterRetailer('','',true)"
              ng-model="newZoneRelationCtrl.isChecked" ng-value="true"> {{'Selcted' | translate}}
          <input type="radio" ng-change="newZoneRelationCtrl.filterRetailer('','',false)"
              ng-model="newZoneRelationCtrl.isChecked" ng-value="false"> {{'UnSelcted' | translate}}
      </div>
      </div>
      <div class="pmd-card pmd-z-depth pmd-card-custom-view">
        <div class="table-responsive">
        {{'Total' | translate}}: {{newZoneRelationCtrl.retailerTotalCount}}
        <table class="table pmd-table table-hover">
          <thead>
            <tr>
              <th>
                <!-- <input type="checkbox" ng-model="newZoneRelationCtrl.retailers.allRetailerSelected"
                  ng-change="newZoneRelationCtrl.selectAllRetailer()"> -->
              </th>
              <th>{{'RetailerLbl' | translate}}</th>
              <th>{{'GovernateLbl' | translate}}</th>
              <th>{{'CityLbl' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="Retailer in newZoneRelationCtrl.retailers.entities"
              ng-class="{selected: Retailer.isChecked}">
              <td><input type="checkbox" ng-model="Retailer.isChecked"
                  ng-change="newZoneRelationCtrl.selectRetailer(Retailer)"></td>
              <td style="width:  40% !important;">{{Retailer.code}} - {{Retailer.name}}</td>
              <td style="width:  30% !important;">{{Retailer.city.titles[selectedLanguage]}}</td>
              <td style="width:  30% !important;">{{Retailer.governrate.titles[selectedLanguage]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
        <div style="text-align:center;direction: ltr" paging page="1" page-size="10"
          total="newZoneRelationCtrl.retailerTotalCount" paging-action="newZoneRelationCtrl.changeRetailerPage(page)"
          flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
        </div>
      </div>
      <!-- <pre>{{newZoneRelationCtrl.selectedRetailer}}</pre> -->
    </form>
  </div>

</div>