<div>
    <div style="margin-bottom:10px" ng-show="user.userPermissions['Admin'].album_manage">

        <button style="background: linear-gradient(90deg,#f7e483,#dbba5a 57%,#a36d31);
        border-radius: 17px;" ng-click="$state.go('newMediaItem',{id: $stateParams.id});"
            class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">
            {{'AddNew'| translate}}</button>
    </div>
    <div ng-if="mediaItemCtrl.mediaItemList.length == 0">
        <span>{{'NoPhotoAlbumsAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="mediaItemCtrl.mediaItemList.length > 0">
        <div class="table-responsive" >
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th>{{'image' | translate}}</th>
                        <th>{{'type' | translate}}</th>
                        <th>{{'featured' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="mediaItem in mediaItemCtrl.mediaItemList">

                        <td ng-show="mediaItem.mediaType =='image'">
                            <img style="width: 70px;height: 70px;" data-ng-src="{{mediaItem.fileUrl}}" />
                        </td>

                        <td ng-show="mediaItem.mediaType =='video'">
                            <img style="width: 70px;height: 70px;" data-ng-src="{{mediaItem.posterUrl}}" />
                        </td>
                        <td>
                            {{mediaItem.mediaType}}
                        </td>

                        <td>
                            <div class="btn-switch" ng-class="{'btn-switch--on':mediaItem.featured}"
                                ng-click="mediaItemCtrl.ChangeStatus(mediaItem)" ng-model="mediaItem.featured">

                                <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':mediaItem.featured}"
                                    ng-model="mediaItem.featured">
                                </div>
                        </td>
                        <td width="30%">
                            <i ng-show="user.userPermissions['Admin'].album_manage"
                                class="material-icons pmd-md deleteButton cursorPointer font25"
                                ng-click="mediaItemCtrl.openDeleteDialog(mediaItem,mediaItem.title[selectedLanguage] ,mediaItem.id)"
                                title="Delete">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount"
        paging-action="mediaItemCtrl.changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
        hide-if-empty="true" disabled-class="hide">
    </div>
</div>