<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text"> {{'AddNewMediaItemBtn' | translate}} </h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newMediaItemForm">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}"
                        ng-repeat="lang in newMediaItemCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab"
                            data-toggle="tab">
                            <span style="color:red">*</span>{{lang.value | translate}}
                        </a>
                    </li>
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}"
                                ng-repeat="lang in newMediaItemCtrl.language" id="{{lang.value}}-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="first-name">{{ 'Title' | translate}} </label>
                                    <input required News="text" class="mat-input form-control"
                                        name="title{{lang.value+'Name'}}" ng-model="newMediaItemCtrl.title[lang.key]"
                                        ng-minlength="3" ng-maxlength="255">
                                    <div ng-messages="newMediaItemForm.title{{lang.value+'Name'}}.$error">

                                        <div class="error ng-binding"
                                            ng-show="newMediaItemForm.title{{lang.value+'Name'}}.$error.required && !newMediaItemForm.title{{lang.value+'Name'}}.$pristine">
                                            {{'requiredErr' | translate}}</div>
                                        <div class="error ng-binding"
                                            ng-show="(newMediaItemForm.title{{lang.value+'Name'}}.$error.minlength || newMediaItemForm.title{{lang.value+'Name'}}.$error.maxlength) && !newMediaItemForm.title{{lang.value+'Name'}}.$error.required">
                                            {{'NameLengthError3' | translate}}</div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label>
                            <input type="checkbox" ng-model="newMediaItemCtrl.isFeatured" value="Featred">
                            Featured
                        </label>

                    </div>
                    <div class="form-group col-lg-4">
                        <label>
                            <input type="radio" ng-model="newMediaItemCtrl.selectedMediaType" value="Image">
                            Image
                        </label>
                        <label>
                            <input type="radio" ng-model="newMediaItemCtrl.selectedMediaType" value="Video">
                            Video
                        </label>

                    </div>
                </div>
                <div class="row" ng-show="newMediaItemCtrl.selectedMediaType== 'Image'">
                    <div class="form-group col-lg-4">
                        <div class="form-group pmd-textfield-floating-label-completed">
                            <span style="color:red">*</span>

                            <input id="posterImage" name="posterImage" style="display: none;" multiple
                                onchange="angular.element(this).scope().AddposterImage(this.files)" type="file"
                                required>
                            <button class="btn btn-success btn-xs pull-center" type="button"
                                ng-click="newMediaItemCtrl.LoadUploadPoster()">{{'Upload Image' | translate}}</button>
                            <span> <i class="material-icons md-dark pmd-md warrningIcon">warning</i>
                                {{'RecommendedProductImage' | translate}}</span>
                            <img ng-src="{{newMediaItemCtrl.posterImage}}" style="max-height: 139px;max-width: 423px;">

                            <div ng-messages="newMediaItemForm.posterImage.$error">
                                <div ng-if="newMediaItemForm.posterImage.$error.required">{{'requiredErr' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="newMediaItemCtrl.selectedMediaType== 'Video'">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <div class="form-group pmd-textfield-floating-label-completed">
                                <span style="color:red">Must upload cover to video</span>
                                <br>
                                <input id="posterVideo" name="posterVideo" style="display: none;"
                                    onchange="angular.element(this).scope().AddposterVideo(this.files)" type="file"
                                    required>
                                <button class="btn btn-success btn-xs pull-center" type="button"
                                    ng-click="newMediaItemCtrl.LoadUploadPosterVideo()">{{'Upload Image' | translate}}</button>
                                <span> <i class="material-icons md-dark pmd-md warrningIcon">warning</i>
                                    {{'RecommendedProductImage' | translate}}</span>
                                <img ng-src="{{newMediaItemCtrl.posterVideo}}"
                                    style="max-height: 139px;max-width: 423px;">

                                <div ng-messages="newMediaItemForm.posterVideo.$error">
                                    <div ng-if="newMediaItemForm.posterVideo.$error.required">
                                        {{'requiredErr' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group col-lg-4">
                            <upload-video-directive id='$stateParams.id'></upload-video-directive>

                        </div> -->
                    </div>
                </div>


            </div>
        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
            ng-disabled="newMediaItemForm.$invalid"
            class="btn pmd-ripple-effect btn-primary" type="button"
            ng-click="newMediaItemCtrl.AddNewMediaItem()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" type="button"
            ng-click="newMediaItemCtrl.close()">{{'DiscardBtn' | translate}}</button>
    </div>
</div>