<div>
    <div ng-show="user.PermessionModules['News'].includes('add_new')">

        <button style="background: linear-gradient(90deg,#f7e483,#dbba5a 57%,#a36d31);
        border-radius: 17px;" ng-click="$state.go('newPhotoAlbum');"
            class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">
            {{'AddNew'| translate}}</button>
    </div>

    <div ng-if="PhotoAlbumList.length == null">
        <span>{{'NoPhotoAlbumsAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="PhotoAlbumList.length > 0">
        <div class="table-responsive" style="border: 1px solid #21231e;
        border-radius: 20px;
        background-color: #0e0e0e;
        box-shadow: 0 0 10px 5px rgba(0,0,0,.35);
    ">
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th>{{'title' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="PhotoAlbum in PhotoAlbumList">

                        <td data-title="Name">
                            {{PhotoAlbum.title[selectedLanguage]   | limitTo : 20}}
                            {{PhotoAlbum.title[selectedLanguage].length > 20 ? '...' : ''}}
                        </td>

                        <td width="30%">
                            <i ng-show="user.PermessionModules['News'].includes('add_new')"
                                class="material-icons md-dark pmd-md cursorPointer font25"
                                ng-click="$state.go('editPhotoAlbum',{id: PhotoAlbum.id});" title="Edit">mode_edit</i>
                            <i ng-show="user.PermessionModules['News'].includes('remove') && !PhotoAlbum.mainGallery"
                                class="material-icons pmd-md deleteButton cursorPointer font25"
                                ng-click="PhotoAlbumCtrl.openDeleteDialog(PhotoAlbum,PhotoAlbum.title[selectedLanguage] ,PhotoAlbum.id)"
                                title="Delete">delete</i>
                            <i ng-show="user.PermessionModules['News'].includes('add_new')"
                                class="material-icons md-dark pmd-md perm_media font25"
                                ng-click="$state.go('mediaItems',{id: PhotoAlbum.id});" title="media">perm_media</i>

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount"
        paging-action="PhotoAlbumCtrl.changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
        hide-if-empty="true" disabled-class="hide">
    </div>
</div>