<div id="bold">
        {{'ContactType' | translate}}
</div>
<div>

    <div style="margin-bottom:10px" ng-show="user.permessionModules['ContactType'].includes(43)">
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
            ng-click="$state.go('newContactType');" class="btn pmd-ripple-effect btn-primary pmd-z-depth"
            type="button">{{'AddNew' | translate}}</button>

    </div>
    <div ng-if="ContactTypeCtrl.ContactTypes.length == 0">
        <span>{{'NoContactTypeAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="ContactTypeCtrl.ContactTypes.length > 0">
        <div class="table-responsive">
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th style="width: 50%">{{'Name' | translate}}</th>
                    <th>{{'Status' | translate}}</th>
                    <th></th>

                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="ContactType in ContactTypeCtrl.ContactTypes">
                    <td data-title="Name">{{ContactType.titles[selectedLanguage]}}</td>
                   
                    <td>
                        <div ng-show="user.permessionModules['ContactType'].includes(45)"  class="btn-switch" ng-class="{'btn-switch--on':ContactType.status}"
                            ng-model="ContactType.status"
                            ng-click="ContactTypeCtrl.ChangeContactTypeStatus(ContactType)">

                            <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':ContactType.status}"
                                ng-model="ContactType.status"
                                ng-click="ContactTypeCtrl.ChangeContactTypeStatus(ContactType)">
                            </div>
                        </div>

                    </td>
                    <td width="30%">
                            <i ng-show="user.permessionModules['ContactType'].includes(42)" 
                            class="material-icons md-dark pmd-md cursorPointer font25"
                                ng-click="$state.go('editContactType',{contactTypeId:ContactType.contactTypeId});" title="Edit">mode_edit</i>
                        </td>
                </tr>

            </tbody>
        </table>
    </div>
    </div>
    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount"
        paging-action="changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true"
        disabled-class="hide">
    </div>
</div>