<div>
        <div  id="bold"> 
                {{'DistributorZones' | translate}}
        </div>
    <h1 class="text-center">
         <kbd style="background-color: #494b74c4;"> 
             {{selectedManufacture.name}} :
                {{selectedManufacture.code}}
            </kbd>
    </h1>
    
    <div ng-if="DistributorZones.results.length == 0">
        <span>{{'NoDistributorZoneAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="DistributorZones.results.length > 0">
        <div class="table-responsive">
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                        <th> {{'CompanyLogo' | translate}}</th>
                        <th>{{'codeLbl' | translate}}</th>
                        <th>{{'Name' | translate}}</th>
                        <th>{{'AddressLbl' | translate}}</th>
                        <th>{{'Title' | translate}}</th>
                        <th>{{'mobileNumber' | translate}}</th>
                        <th>{{'EmailLbl' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                    <tr ng-repeat="DistributorZone in createDistributorZoneCtrl.DistributorZoneList">
                            <td> 
                                <img width="100px" height="100px" data-ng-src="http://172.21.22.222/actor/{{DistributorZone.companyLogo}}" />
                            </td>
                            <td data-title="code">{{DistributorZone.code}}</td>
                            <td data-title="Name">
                                {{DistributorZone.name | limitTo : 20}} 
                                {{DistributorZone.name.length > 20 ? '...' : ''}}
                            </td>
                            <td data-title="code">{{DistributorZone.address}}</td>
                            <td data-title="city">{{DistributorZone.distributorContactInformation[0].title}}</td>
                            <td data-title="governrate">{{DistributorZone.distributorContactInformation[0].mobileNumber}}</td>
                            <td data-title="address">{{DistributorZone.distributorContactInformation[0].email}}</td>
                        </tr>

            </tbody>
        </table>
    </div>
    </div>
    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount"
                paging-action="createDistributorZoneCtrl.changePage(page)" flex="nogrow"
                ] show-prev-next="true" show-first-last="true" hide-if-empty="true"
                disabled-class="hide">
                </div>
</div>