<style>
    /* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
    #map {
        height: 100%;
        margin-top: 20%;

        margin-left: 50%;
        position: initial !important;
        overflow: initial !important;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }
</style>
<div id="bold">
    {{'NewZone' | translate}}
</div>
<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text">{{'NewZone' | translate}}</h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newZoneForm">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in newZoneCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab"
                            data-toggle="tab">
                            <span style="color:red">*</span>  {{lang.value | translate}}
                        </a>
                    </li>
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}"
                                ng-repeat="lang in newZoneCtrl.language" id="{{lang.value}}-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="first-name">
                                        {{ lang.value+'Name' | translate}} </label>
                                    <input required Area="text" class="mat-input form-control"
                                        name="titles{{lang.value+'Name'}}" ng-model="newZoneCtrl.titles[lang.key]"
                                        ng-minlength="3" ng-maxlength="255">
                                    <div ng-messages="newZoneForm.titles{{lang.value+'Name'}}.$error">

                                        <div class="error"
                                            ng-show="newZoneForm.titles{{lang.value+'Name'}}.$error.required && !newZoneForm.titles{{lang.value+'Name'}}.$pristine">
                                            {{'requiredErr' | translate}}</div>
                                        <div class="error"
                                            ng-show="(newZoneForm.titles{{lang.value+'Name'}}.$error.minlength || newZoneForm.titles{{lang.value+'Name'}}.$error.maxlength) && !newZoneForm.titles{{lang.value+'Name'}}.$error.required">
                                            {{'NameLengthError3' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-md-3  form-group pmd-textfield pmd-textfield-floating-label-completed">
                                <label for="readonly"><span style="color:red">*</span> {{'codeLbl' | translate}}
                                </label>
                                <input type="text" name="zoneCode" ng-readonly="true" ng-model="newZoneCtrl.zoneCode"
                                    aria-label="readonly" class="mat-input form-control">

                            </div>
                        </div> -->

                        <div class="row">
                        <!-- country --- drop down  -->
                  <div 
                  class="col-md-3  form-group pmd-textfield pmd-textfield-floating-label-completed">
                  <label for="first-name"><span style="color:red">*</span> {{'Country' | translate}}</label>
                  <select class="select-tags form-control pmd-select2-tags" name="countryId"
                    ng-change="newZoneCtrl.countryChange()" ng-model="newZoneCtrl.selectedCountryId"
                    ng-options="group.countryId  as group.titles[selectedLanguage] for group in newZoneCtrl.countries">
                  </select>
                  <div>
                    <!-- required validation -->
                    <span class="error"
                      ng-show="newretailerForm.results[countryId].$error.required && !newretailerForm.results[countryId].$pristine">
                      {{'RequiredLbl' | translate}} </span>
                    <span class="error" ng-show="newretailerForm.results[countryId].$error.results[countryId]">
                      {{' NotvalidLbl' | translate}}</span>
                  </div>
                </div>
                <!-- governrate based on country id  -->
                <div 
                class="col-md-3  form-group pmd-textfield pmd-textfield-floating-label-completed">
                  <label for="first-name"><span style="color:red">*</span> {{'Governrate' | translate}}</label>
                  <select class="select-tags form-control pmd-select2-tags" name="governrateId"
                    ng-change="newZoneCtrl.GovernrateChange()" ng-model="newZoneCtrl.selectedGovernrateId"
                    ng-options="group.governrateId as group.titles[selectedLanguage] for group in newZoneCtrl.Governrates">
                  </select>
                  <div>
                    <span class="error"
                      ng-show="newretailerForm.governrateId.$error.required && !newretailerForm.governrateId.$pristine">
                      {{'RequiredLbl' | translate}} </span>
                    <span class="error" ng-show="newretailerForm.governrateId.$error.governrateId">
                      {{' NotvalidLbl' | translate}}</span>
                  </div>
                </div>
                        </div>
                    </div>
                    <!-- <div class="row" style="    padding-bottom: 8%;">
                        <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">
                          
                            <input id="pac-input" class="controls" type="text" placeholder="Search Box">

                        </div>
                    </div>
                    <div class="row" style="    padding-left: 18%;">
                        <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">
                            <div id="map"></div>
                            <div id="infowindow-content">
                                <img src="" width="16" height="16" id="place-icon">
                                <span id="place-name" class="title"></span><br>
                                <span id="place-address"></span>
                            </div>
                        </div>

                    </div> -->
                </div>
            </div>
    </div>
    </form>
    <div class="pmd-modal-action text-right">
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
            ng-disabled="newZoneForm.$invalid || newZoneCtrl.selectedCityId <= 0"
            class="btn pmd-ripple-effect btn-primary" type="button"
            ng-click="newZoneCtrl.AddNewZone()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" type="button"
            ng-click="$state.go('Zone');">{{'DiscardBtn' | translate}}</button>
    </div>
</div>