<div>
    <div id="bold">
        {{'DistributorLbl'| translate}}
    </div>
    <div style="margin-bottom:10px" ng-show="user.permessionModules['Distributer'].includes(59)">
        <button ng-click="$state.go('newDistributor');"
            style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
            class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddNew' | translate}}</button>
    </div>
    <!--end  add button -->
    <div class="pmd-card pmd-z-depth pmd-card-custom-view">
        <div class="table-responsive">
                <div class=" md-card pmd-z-depth pmd-card-custom-view">
                        <form class="DistributorForm" name="DistributorForm">
                                <div class=" md-card pmd-z-depth pmd-card-custom-view">
                                    <div>
                                        <div class="col-xs-6  form-group pmd-textfield pmd-textfield-floating-label-completed"
                                            id="pmd-textfield">
                                            <input required type="text" class="mat-input form-control" name="searchInput"
                                                placeholder="   search by Distributor Name   " ng-model="DistributorCtrl.name"
                                                ng-minlength="3" ng-maxlength="255" id="searchInput">
                                        </div>
                                        <!-- <div ng-messages="DistributorForm.searchInput.$error">
                                            <div class="error"
                                                ng-show="(DistributorForm.searchInput.$error.minlength || DistributorForm.searchInput.$error.maxlength) && !DistributorForm.searchInput.$error.required">
                                                {{'NameLengthError255' | translate}}</div>
                                        </div> -->
                                        <div class="col-xs-3  form-group pmd-textfield pmd-textfield-floating-label-completed"
                                            id="pmd-textfield-verse">
                                            <button id="searchBtb" ng-disabled="DistributorForm.$invalid"
                                                class="btn pmd-ripple-effect btn-primary" type="button"
                                                ng-click="DistributorCtrl.filterDistributor(DistributorCtrl.name)">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    width="15px" height="14px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect id="bound" x="0" y="0" width="15px" height="15px" />
                                                        <path
                                                            d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                                            id="Path-2" fill="#494b74c4" fill-rule="nonzero" opacity="0.3" />
                                                        <path
                                                            d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                                            id="Path" fill="#494b74c4" fill-rule="nonzero" />
                                                    </g>
                                                </svg>
                                                {{'search' | translate}}
                                            </button>
                                        </div>
                                        <div class="col-sm-3 form-group pmd-textfield pmd-textfield-floating-label-completed">
                                            <button class="btn pmd-ripple-effect btn-primary " type="button" id="searchBtb"
                                                ng-click="DistributorCtrl.filterDistributor()">{{'All' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                    </div>
        </div>
    </div>
    <div ng-if="DistributorCtrl.DistributorsList.length == 0">
        <span>{{'NoDistributorssAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="DistributorCtrl.DistributorsList.length > 0">
        <!-- binding data from api to Distributors list  -->
        <div>
            <div class="table-responsive">
                <table class="table pmd-table table-hover">
                    <thead>
                        <tr>
                            <th> {{'CompanyLogo' | translate}}</th>
                            <th>{{'codeLbl' | translate}}</th>
                            <th>{{'Name' | translate}}</th>
                            <th>{{'AddressLbl' | translate}}</th>
                            <th>{{'GovernateLbl' | translate}}</th>
                            <th>{{'CityLbl' | translate}}</th>
                            <th>{{'StatusLbl' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- data mandatory  -->
                        <tr ng-repeat="Distributors in DistributorCtrl.DistributorsList">
                            <!-- <td data-title="CompanyLogo">{{Distributors.companyLogo}}</td> -->
                            <td>
                                <img width="100px" height="100px"
                                    data-ng-src="{{DistributorCtrl.appCONSTANTS.Image_URL_ACTOR}}{{Distributors.companyLogo}}" />
                            </td>
                            <td data-title="code">{{Distributors.code}}</td>
                            <td data-title="Name">
                                {{Distributors.name | limitTo : 20}}
                                {{Distributors.name.length > 20 ? '...' : ''}}
                            </td>
                            <td data-title="address">{{Distributors.address}}</td>
                            <td data-title="city">{{Distributors.city.titles[selectedLanguage]}}</td>
                            <td data-title="governrate">{{Distributors.governrate.titles[selectedLanguage]}}</td>
                            <td width="15%">
                                <div class="btn-switch" ng-class="{'btn-switch--on':Distributors.isActive}"
                                    ng-model="Distributors.isActive"
                                    ng-click="DistributorCtrl.ChangeDistributorsStatus(Distributors)">

                                    <div class="btn-switch-circle"
                                        ng-class="{'btn-switch-circle--on':Distributors.isActive}"
                                        ng-model="Distributors.isActive"
                                        ng-click="DistributorCtrl.ChangeDistributorsStatus(Distributors)">
                                    </div>

                            </td>

                            <!-- action -->
                            <td width="30%">
                                <i ng-show="user.permessionModules['Distributer'].includes(58)"
                                    class="material-icons md-dark pmd-md cursorPointer font25"
                                    ng-click="$state.go('editDistributor',{distributorId: Distributors.distributorId});"
                                    title="Edit">mode_edit</i>
                                <i ng-show="user.permessionModules['Distributer'].includes(61)"
                                    class="material-icons pmd-md deleteButton cursorPointer font25" ng-click="DistributorCtrl.openDeleteDialog
                                    (Distributors,Distributors.name,Distributors.distributorId)"
                                    title="Delete">delete</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="DistributorCtrl.totalCount"
            paging-action="DistributorCtrl.changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
            hide-if-empty="true" disabled-class="hide">
        </div>
    </div>