<div class="modal-content container">
  <div class="modal-body">
    <form class="editDistributorForm" name="editDistributorForm">
      <div>
        <!-- Nav tabs -->
        <ul>
          <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in editDistributorCtrl.Distributor.language">
            <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab"
              data-toggle="tab">
              {{lang.value | translate}}
            </a>
          </li>
        </ul>
        <div>
          <div>
            <!-- Tab panes -->
            <div class="tab-content table-responsive">
              <h2> <label for="readonly">{{'infoLbl' | translate}} </label></h2>
              <!-- left side -->
              <div class="form-group col-lg-6">
                <!-- input name  -->
                <div class="form-group pmd-textfield floating-label-pmd-textfield-floating-label-completed">
                  <label for="first-name"><span style="color:red">*</span> {{'Name' | translate}}</label>
                  <input required type="text" class="mat-input form-control" name="name"
                    ng-model="editDistributorCtrl.Distributor.name">
                  <!-- length validation  -->
                  <div ng-messages="editDistributorForm.name.$error" class="error">
                    <div ng-show="editDistributorForm.name.$error.pattern">{{'TextOnly' | translate}}</div>
                    <div
                      ng-if="editDistributorForm.name.$error.required && !editDistributorForm.name.$pristine">
                      {{'nameLengthError' | translate}}</div>
                    <!-- required validation -->
                    <div
                      ng-if="(editDistributorForm.name.$error.minlength || editDistributorForm.name.$error.maxlength) ">
                      {{'NameLengthError255'
                    | translate}}</div>
                  </div>
                </div>
                <!-- code field -->
                <!-- <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                  <label for="readonly"><span style="color:red">*</span> {{'codeLbl' | translate}}
                  </label>
                  <input type="text" name="code" ng-readonly="true" ng-model="editDistributorCtrl.Distributor.code"
                    aria-label="readonly" class="mat-input form-control">
                  <br>
                </div> -->
                <!-- Address field  -->
                <label>
                  <span style="color:red">*</span> {{'AddressLbl' | translate}}
                  <br>
                  <textarea name="address" ng-model="editDistributorCtrl.Distributor.address" required style="width: 250%;"
                    ng-minlength="11" placeholder="add your address here ." required>
                    </textarea>
                </label>
                <!-- length validation -->
                <div ng-messages="editDistributorForm.address.$error" class="error">
                  <div ng-show="editDistributorForm.address.$error.pattern">{{'TextOnly' | translate}}</div>
                  <div ng-if="editDistributorForm.address.$error.required && !editDistributorForm.address.$pristine">
                    {{'NameError' | translate}}</div>
                  <div
                    ng-if="(editDistributorForm.address.$error.minlength || editDistributorForm.address.$error.maxlength) ">
                    {{'NameLengthError255'
                    | translate}}</div>
                </div>
                <div>
                  <!-- required validation -->
                  <span class="error"
                    ng-show="editDistributorForm.address.$error.required && !editDistributorForm.address.$pristine">
                    {{'RequiredLbl' | translate}}
                  </span>
                  <span class="error" ng-show="editDistributorForm.address.$error.maxlength">
                    Too long!
                  </span>
                </div>
                <!-- email field  -->
                <div class="form-group pmd-textfield floating-label-pmd-textfield-floating-label-completed">
                  <label>
                    {{'EmailLbl' | translate}}</label>
                  <input type="text" class="mat-input form-control" name="email"
                    ng-model="editDistributorCtrl.Distributor.email"
                    ng-pattern="/^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/">
                  <!-- email validation -->
                  <span class="error"
                    ng-show="editDistributorForm.email.$error.pattern">{{'WrongMail' | translate}}
                  </span>
                </div>
                <!-- website field  -->
                <!-- <div class="form-group pmd-textfield floating-label-pmd-textfield-floating-label-completed">
                  <label>
                    {{'websiteLbl' | translate}} </label>
                  <br>
                  <input type="webSite" name="editDistributorCtrl.Distributor.webSite" ng-model="editDistributorCtrl.Distributor.webSite" class="mat-input form-control ng-pristine ng-untouched
                      ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength">
                  <label>
                </div> -->
              </div>
              <!-- right side  -->
              <div class="form-group col-lg-6">
                <!-- country --- drop down  -->
                <div
                  class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                  <label for="first-name"><span style="color:red">*</span> {{'Country' | translate}}</label>
                  <select class="select-tags form-control pmd-select2-tags" name="countryId"
                    ng-change="editDistributorCtrl.countryChange()" ng-model="editDistributorCtrl.selectedCountryId"
                    ng-options="group.countryId  as group.titles[selectedLanguage] for group in editDistributorCtrl.countries">
                  </select>
                  
                  <div>
                    <!-- required validation -->
                    <span class="error"
                      ng-show="editDistributorForm.results[countryId].$error.required && !editDistributorForm.results[countryId].$pristine">
                      {{'RequiredLbl' | translate}} </span>
                    <span class="error" ng-show="editDistributorForm.results[countryId].$error.results[countryId]">
                      {{' NotvalidLbl' | translate}}</span>
                  </div>
                </div>
                <!-- governrate based on country id  -->
                <div ng-show=" editDistributorCtrl.selectedCountryId > 0"
                  class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                  <label for="first-name"><span style="color:red">*</span> {{'Governrate' | translate}}</label>
                  <select class="select-tags form-control pmd-select2-tags" name="governrateId"
                    ng-change="editDistributorCtrl.GovernrateChange()" ng-model="editDistributorCtrl.selectedGovernrateId"
                    ng-options="group.governrateId as group.titles[selectedLanguage] for group in editDistributorCtrl.Governrates">
                  </select>
                  <div>
                    <span class="error"
                      ng-show="editDistributorForm.governrateId.$error.required && !editDistributorForm.governrateId.$pristine">
                      {{'RequiredLbl' | translate}} </span>
                    <span class="error" ng-show="editDistributorForm.governrateId.$error.governrateId">
                      {{' NotvalidLbl' | translate}}</span>
                  </div>
                </div>
                <!-- city based on governrate -->
                <div ng-show=" editDistributorCtrl.selectedGovernrateId > 0"
                  class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                  <label for="first-name"><span style="color:red">*</span> {{'City' | translate}}</label>
                  <select class="select-tags form-control pmd-select2-tags" name="cityId"
                   ng-change="editDistributorCtrl.cityChange()"
                    ng-model="editDistributorCtrl.selectedCityId" name="cityId"
                    ng-options="group.cityId as group.titles[selectedLanguage] for group in editDistributorCtrl.cities">
                  </select>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

