<div class="modal-content container">
  <h2>  {{'commercialInformation' | translate}} </h2>

  <div class="modal-body">
    <form class="form-horizontal" name="newDistributorForm">
      <div>
            <div class="form-group pmd-textfield-floating-label-completed">
              <span style="color:red">*</span>
              <label for="image" class="btn btn-success btn-xs pull-center" name="upload" Value="">Upload
                  Photo</label>
              <input id="image" class="hidden" type="file" img-upload ng-model="imageName"
                  name="imageName">
              <img ng-src="{{image}}" height="100" width="100" ng-show="image" />

              <span> <i class="material-icons md-dark pmd-md warrningIcon">warning</i>
                  {{'RecommendedDistributorImage' | translate}}</span>

          </div>
</div>
</div>