@import "./variables.scss";
#about_us {
  .about_txt {
    background: #141414 url("/assets/images/cotactus_bg.png") scroll repeat center center;
    position: relative;
    &::after {
      content: "About \A Us";
      position: absolute;
      left: 50px;
      top: 261px;
      font-size: 150px;
      text-transform: uppercase;
      font-family: Montserrat_Bold;
      color: #1b1b1b;
      opacity: 0.75;
      white-space: pre;
    } /* after */
    .container {
      width: 1440px;
      margin: 0 auto;
      padding: 161px 25px 60px;
      overflow: hidden;
      position: relative;
      z-index: 4;
      .item {
        margin: 0 auto 50px;
        .title {
          text-transform: uppercase;
          font-family: Montserrat_Bold;
          font-size: 18px;
          color: #ccbc93;
          position: relative;
          padding: 0 0 0 33px;
          margin: 0 auto 20px;
          &::before {
            content: "";
            height: 3px;
            width: 23px;
            background: #ccbc93;
            position: absolute;
            left: 0;
            top: 11px;
          } /* before */
        } /* title */
        .content {
          color: #f1f1f1;
          font-size: 16px;
          line-height: 26px;
          width: 90%;
          margin: 0 auto;
          li {
            margin: 0 auto 10px;
          }
        } /* content */
      } /* item */
    } /* container */
  } /* about_txt */
  .our_value {
    background: #141414 url("/assets/images/our_value_bg.png") scroll no-repeat 0 top;
    position: relative;
    border-top: 1px solid #21231e;
    border-bottom: 1px solid #21231e;
    .container {
      width: 1440px;
      margin: 0 auto;
      padding: 50px 25px;
      overflow: hidden;
      position: relative;
      z-index: 4;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      .title {
        width: 50%;
        text-align: center;
        span {
          font-size: 60px;
          text-transform: uppercase;
          font-family: Montserrat_Bold;
          position: relative;
          color: #c5b68e;
          &::after {
            content: "";
            width: 76px;
            height: 12px;
            background: #ccbc93;
            display: block;
            position: absolute;
            bottom: -20px;
            left: -45px;
          } /* after */
        } /* span */
      } /* title */
      .content {
        width: 50%;
        li {
          margin: 20px auto;
          span {
            display: block;
            color: #c5b68e;
            margin: 0 auto 5px;
            font-size: 17px;
          } /* span */
          p {
            margin: 0 auto;
            color: #f1f1f1;
            font-size: 14px;
            line-height: 22px;
          } /* p */
        } /* li */
      } /* content */
    } /* container */
  } /* our_value */
  .our_events {
    background: #141414 url("/assets/images/cotactus_bg.png") scroll repeat center center;
    position: relative;
    .container {
      width: 1440px;
      margin: 0 auto;
      padding: 60px 25px;
      overflow: hidden;
      position: relative;
      z-index: 4;
      display: flex;
      align-items: center;
      .event {
        width: 50%;
        .icon {
          text-align: center;
          margin: 0 auto 100px;
        } /* icon */
        .txt_area {
          background: transparent url("/assets/images/event_dots_bg.png") repeat scroll center center;
          position: relative;
          .inside_txt_area {
            padding: 30px 20px;
            background: #0f0f0f;
            border: 1px solid #21231e;
            border-radius: 10px;
            position: relative;
            right: -25%;
            top: -60px;
            box-shadow: 0 0 27px 3px #00000075;
            span {
              display: block;
              font-size: 25px;
              font-family: Montserrat_Bold;
              margin: 0 auto 30px;
              color: #cebf98;
              position: relative;
              &::after {
                position: absolute;
                content: "";
                width: 15%;
                height: 3px;
                background: #ccbc93;
                bottom: -15px;
                left: 0;
              } /* after */
            } /* span */
            ul {
              padding: 5px 20px;
              li {
                margin: 30px auto;
                color: #fff;
                font-size: 16px;
                line-height: 24px;
              } /* li */
            } /* ul */
          } /* inside_txt_area */
        } /* txt_area */
      } /* event */
      .imgthumb {
        width: 45%;
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid #21231e;
        img {
          width: 100%;
          height: 100%;
        } /* img */
      } /* imgthumb */
    } /* container */
  } /* our_events */
  .our_awards {
    background: #141414 url("/assets/images/cotactus_bg.png") scroll repeat center center;
    position: relative;
    .container {
      width: 1440px;
      margin: 0 auto;
      padding: 60px 25px 100px;
      overflow: hidden;
      position: relative;
      z-index: 4;
      display: flex;
      align-items: flex-end;
      .imgthumb {
        width: 45%;
        position: relative;
        &::after {
          content: "";
          background: transparent url("/assets/images/event_dots_bg.png") repeat scroll center center;
          position: absolute;
          bottom: -10%;
          right: -70%;
          width: 120%;
          display: block;
          height: 50%;
          z-index: -1;
        }
        .img {
          overflow: hidden;
          border-radius: 10px;
          border: 1px solid #21231e;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          } /* img */
        } /* img */
      } /* imgthumb */
      .award {
        width: 50%;
        z-index: 1;
        .icon {
          text-align: center;
          margin: 0 auto 0;
          position: relative;
          z-index: 1;
        } /* icon */
        .txt_area {
          position: relative;
          .inside_txt_area {
            padding: 30px 20px;
            background: #0f0f0f;
            border: 1px solid #21231e;
            border-radius: 10px;
            position: relative;
            left: -25%;
            top: -60px;
            box-shadow: 0 0 27px 3px #00000075;
            span {
              display: block;
              font-size: 25px;
              font-family: Montserrat_Bold;
              margin: 0 auto 30px;
              color: #cebf98;
              position: relative;
              &::after {
                position: absolute;
                content: "";
                width: 15%;
                height: 3px;
                background: #ccbc93;
                bottom: -15px;
                left: 0;
              } /* after */
            } /* span */
            p {
              margin: 0 auto 40px;
              color: #cebf98;
              font-size: 14px;
              line-height: 21px;
            } /* p */
            ul {
              display: flex;
              justify-content: space-between;
              margin: 0 auto 25px;
              border-bottom: 1px solid #21231e;
              padding: 0 15px;
              li {
                font-size: 15px;
                font-family: Montserrat_Bold;
                padding: 0 0 25px 0;
                color: #a8a8a8;
                border-bottom: 4px solid transparent;
                margin: 0 0 -2px 0;
                cursor: pointer;
                &.active {
                  color: #ffffff;
                  border-bottom-color: #ccbc93;
                  cursor: auto;
                } /* active */
              } /* li */
            } /* ul */
            .tab_content {
              font-size: 16px;
              padding: 10px;
              color: #fff;
              line-height: 25px;
              display: none;
              &.active {
                display: block;
              }
            } /* tab_content */
          } /* inside_txt_area */
        } /* txt_area */
      } /* award */
    } /* container */
  } /* our_awards */
} /* about_us */

//**** RTL Style ****//
body[dir="rtl"] {
  #about_us {
    .about_txt {
      .container {
        .item {
          .title {
            font-family: Tajawal_Bold;
            padding: 0 33px 0 0;
            &::before {
              left: auto;
              right: 0;
              top: 13px;
            } /* before */
          } /* title */
          .content {
            line-height: 26px;
          }
        } /* item */
      } /* container */
    } /* about_txt */
    .our_value {
      .container {
        .title {
          span {
            font-size: 60px;
            font-family: Tajawal_Bold;
            &::after {
              right: -45px;
              left: auto;
            } /* after */
          } /* span */
        } /* title */
      } /* container */
    } /* our_value */
    .our_events {
      .container {
        .event {
          .txt_area {
            .inside_txt_area {
              right: auto;
              left: -25%;
              top: -60px;
              span {
                font-family: Tajawal_Bold;
                &::after {
                  right: 0;
                  left: auto;
                }
              } /* span */
              li {
                margin: 15px auto;
              }
            } /* inside_txt_area */
          } /* txt_area */
        } /* event */
      } /* container */
    } /* our_events */
    .our_awards {
      .container {
        .imgthumb {
          &::after {
            left: -70%;
            right: auto;
          } /* after */
        } /* imgthumb */
        .award {
          .txt_area {
            .inside_txt_area {
              right: -25%;
              left: auto;
              span {
                font-family: Tajawal_Bold;
                &::after {
                  right: 0;
                  left: auto;
                }
              } /* span */
              li {
                font-family: Tajawal_Bold;
              }
            } /* inside_txt_area */
          } /* txt_area */
        } /* award */
      } /* container */
    } /* our_awards */
  } /* about_us */
}
//**** RTL Style ****//
