@import "./variables.scss";
.swiper-container {
  height: 100%;
}
#intro {
  height: 100%;
  .container {
    background: transparent url("/assets/images/intro_bg.png") scroll no-repeat top center / cover;
    width: 100%;
    margin: 0 auto;
    padding: 161px 25px 0;
    overflow: hidden;
    position: relative;
    z-index: 4;
    height: 100%;
    .slide_item {
      height: 85%;
      .view_award {
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;

        .big_image {
          position: relative;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          width: 70%;
          .swiper-slide {
            width: 100%;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            @media (max-width: 991px) {
              height: calc(100vw / 1.4);
              object-fit: cover;
              object-position: bottom;
            }
          }
          img.burg_khalifa {
            object-fit: cover !important;
            object-position: bottom !important;
          }

          /* img */
          .horizontal_bar {
            position: absolute;
            height: 5px;

            background: #c0a176;
            display: block;
            width: 350px;
            left: 85%;
            bottom: 15px;
            z-index: 1000;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            @media (max-width: 1740px) {
              width: 350px;
              left: 80%;
              bottom: 40px;
            }
            @media (max-width: 1600px) {
              width: 250px;
              left: 80%;
              bottom: 30px;
            }
            @media (max-width: 1470px) {
              width: 250px;
              left: 80%;
              bottom: 40px;
            }
            @media (max-width: 1300px) {
              width: 180px;
              left: 80%;
              bottom: 50px;
            }
            @media (max-width: 1180px) {
              width: 250px;
              left: 60%;
              bottom: 55px;
            }
            @media (max-width: 1120px) {
              width: 250px;
              left: 60%;
              bottom: 55px;
            }
            @media (max-width: 1100px) {
              width: 250px;
              left: 60%;
            }
            @media (max-width: 1045px) {
              width: 250px;
              left: 50%;
            }
          }
          /* horizontal_bar */
        }

        /* big_image */
        .desc {
          width: 30%;
          padding: 30px 40px 0 40px;

          span {
            display: block;
            font-size: 30px;
            text-transform: capitalize;
            font-family: Montserrat_Bold;
            color: $maincolor;
            @media (max-width: 1090px) {
              font-size: 25px;
            }
          }

          /* span */
          p {
            display: block;
            margin: 15px auto 30px;
            color: #808080;
            font-size: 14px;
            line-height: 24px;
            @media (max-width: 1750px) {
              max-height: 220px;
              height: 100%;
              overflow-y: auto;
            }

            &::-webkit-scrollbar {
              width: 3px;
              border-radius: 100px;
            }

            &::-webkit-scrollbar-track {
              background: transparent;
            }

            &::-webkit-scrollbar-thumb {
              background-color: #808080;
              border-radius: 100px;
            }
          }

          /* p */
          a {
            display: inline-block;
            background: $maincolor;
            font-size: 17px;
            padding: 10px 40px;
            border-radius: 100px;
            color: #141414;

            @media (max-width: 1090px) {
              font-size: 16px;
              text-align: center;
            }
            &:hover {
              background: $secondcolor;
            }
          }

          /* a */
        }

        /* desc */
      }

      /* view_award */
    }

    /* slide_item */
    .slider_thumb {
      position: absolute;
      right: 50px;
      bottom: 90px;
      display: flex;
      align-items: center;
      @media (max-width: 1230px) {
        right: 25px;
      }
      @media (max-width: 1050px) {
        right: 0px;
      }

      .thmb {
        height: 157px;
        width: 220px;
        cursor: pointer;
        position: relative;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        z-index: 999999999999;

        &:hover {
          -webkit-opacity: 0.6;
          -moz-opacity: 0.6;
          -o-opacity: 0.6;
          opacity: 0.6;
        }

        /* hover */
        img {
          height: 100%;
          width: 100%;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }

        /* img */
      }

      /* thmb */
      .arrow_next {
        background: transparent;
        font-size: 40px;
        border: none;
        padding: 0;
        margin: 0 0 0 10px;
        color: #c0a176;
        cursor: pointer;
        display: inline-block;
        height: 45px;
        line-height: 45px;
        width: 45px;

        i {
          display: block;
        }
      }

      /* arrow_next */
    } /*slider_thumb*/

    /* slider_thumb */
    .slider_dots {
      position: absolute;
      bottom: 0;
      right: 20px;
      display: flex;
      flex-wrap: nowrap;

      .item {
        margin: 0 20px;
        height: 80px;
        color: #1b1b1b !important;
        position: relative;
        font-size: 20px !important;
        cursor: pointer;
        font-weight: 300 !important;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:after {
          position: absolute;
          content: "";
          width: 2px;
          height: 50px;
          background: #1b1b1b;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: 0;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }

        /* after */
        &.current {
          color: $maincolor !important;
          cursor: inherit;
          font-weight: normal !important;

          &:after {
            background: $maincolor;
          }
        }

        /* current */
      }

      /* span */
    }

    /* slider_dots */
  }

  /* container */
}

//**** RTL Style ****//
body[dir="rtl"] {
  #intro {
    .container {
      .slide_item {
        .view_award {
          .desc {
            span {
              font-family: Tajawal_Bold;
              font-size: 35px;
              //@media (max-width: 1330px) {
              //  font-size: 25px;
              //}
            }

            /* span */
          }

          /* desc */
          .big_image {
            .horizontal_bar {
              right: 89%;
              left: auto;
            }

            /* horizontal_bar */
          }

          /* big_image */
        }

        /* view_award */
      }

      /* slide_item */
      .slider_thumb {
        right: auto;
        left: 0;

        .arrow_next {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          margin: 0 10px 0 0;
        }

        /* arrow_next */
      }

      /* slider_thumb */
      .slider_dots {
        right: auto;
        left: 20px;
      }

      /* slider_dots */
    }

    /* container */
  }

  /* intro */
}

//**** RTL Style ****//
