@import "./variables.scss";
#login_page {
  background: #141414 url("/assets/images/cotactus_bg.png") scroll repeat center
    center;
  position: relative;
  &::after {
    content: "Login \A AREA";
    position: absolute;
    left: 50px;
    top: 150px;
    font-size: 150px;
    text-transform: uppercase;
    font-family: Montserrat_Bold;
    white-space: pre;
    color: #1b1b1b;
    opacity: 0.75;
    [dir="rtl"] & {
      content: "تسجيل \A الدخول";
      font-family: Tajawal_Bold;
    } /* rtl */
  } /* after */
  .container {
    width: 1442px;
    margin: 0 auto;
    padding: 161px 25px 60px;
    overflow: hidden;
    position: relative;
    z-index: 4;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 320px) and (max-width: 767px) {
      width: auto;
      min-height: auto;
      padding: 100px 15px 60px;
    }
    .login_area {
      height: 700px;
      width: 80%;
      background: #0e0e0e;
      display: flex;
      border-radius: 10px;
      padding: 30px;
      margin: 90px auto 50px;
      align-items: center;
      justify-content: space-around;
      position: relative;
      border: 1px solid #21231e;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 2px;
      @media (min-width: 320px) and (max-width: 767px) {
        width: 100%;
        padding: 15px;
        display: block;
        margin: 15px auto;
      }
      .login_block {
        width: 50%;
        background: #ffffff;
        padding: 40px 30px;
        border: 1px solid #21231e;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 2px;
        border-radius: 10px;
        margin: -70px 0 0 0;
        min-height: 400px;
        @media (min-width: 320px) and (max-width: 767px) {
          width: 100%;
          padding: 15px;
          margin: 0 auto;
        }
        .logo {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          margin: 0 0 5px;
        } /* logo */
        span {
          font-family: Montserrat_Bold;
          text-transform: uppercase;
          font-size: 25px;
          color: #141414;
          margin: 0 auto 20px;
          display: block;
          [dir="rtl"] & {
            font-family: Tajawal_Bold;
          } /* rtl */
        } /* span */
        input {
          display: block;
          width: 100%;
          margin: 0 auto 20px;
          height: 50px;
          border-radius: 100px;
          border: 1px solid #0e0e0e;
          padding: 0 15px;
          font-size: 15px;
          font-family: Montserrat_Medium;
          color: #333;
          [dir="rtl"] & {
            font-family: Tajawal_Medium;
          } /* rtl */
        } /* input */
        .checkbox {
          margin: 0 auto 20px;
          padding: 0 0 0 20px;
          position: relative;
          [dir="rtl"] & {
            padding: 0 20px 0 0;
          } /* rtl */
          input {
            width: auto;
            height: auto;
            margin: 0 auto;
            position: absolute;
            left: 0;
            top: 3px;
            [dir="rtl"] & {
              left: auto;
              right: 0;
            } /* rtl */
          } /* input */
        } /* checkbox */
        .submit_area {
          margin: 50px 0 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .resset {
            font-size: 15px;
            label {
              color: #000000;
              text-decoration: underline;
              &:hover {
                color: #b59870;
              }
            } /* a */
          } /* resset */
          button {
            height: 40px;
            padding: 0 30px;
            border-radius: 100px;
            border: none;
            font-family: Montserrat_Bold;
            font-size: 15px;
            line-height: 40px;
            background: #141414;
            color: #ffff;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 2px;
            cursor: pointer;
            [dir="rtl"] & {
              font-family: Tajawal_Bold;
            } /* rtl */
            &:hover {
              background: #b59870;
              color: #141414;
            }
          } /* button */
        } /* submit_area */
      } /* login_block */
      .register_block {
        width: 50%;
        padding: 30px;
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        background: #0e0e0e;
        height: 100%;
        border-radius: 10px;
        align-content: space-between;
        flex-wrap: wrap;
        [dir="rtl"] & {
          left: auto;
          right: 0;
        } /* rtl */
        @media (min-width: 320px) and (max-width: 767px) {
          width: 100%;
          height: auto;
        }
        &.active {
          display: flex;
          height: 100%;
        }
        div {
          width: 100%;
          ul {
            border-bottom: 1px solid #212121;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 auto 20px;
            li {
              font-size: 14px;
              font-family: Montserrat_Bold;
              color: #808080;
              cursor: pointer;
              padding: 0 10px 20px 10px;
              position: relative;
              -webkit-transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              -o-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
              @media (min-width: 320px) and (max-width: 767px) {
                font-size: 12px;
                padding: 0 5px 20px 5px;
              }
              [dir="rtl"] & {
                font-family: Tajawal_Bold;
              } /* rtl */
              &::after {
                content: "";
                width: 0;
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                height: 3px;
                background: #808080;
                margin: 0 auto;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                [dir="rtl"] & {
                  right: 0;
                  left: auto;
                } /* rtl */
              } /* after */
              &:hover {
                &::after {
                  width: 40%;
                }
              } /* hover */
              &.active {
                color: #e9c785;
                &::after {
                  background: #e9c785;
                  width: 70%;
                } /* after */
              } /* active */
            } /* li */
          } /* ul */
          .next_step {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
          }
        } /* div */
        .tabs_content {
          height: 100%;
          .popup__form {
            height: 95%;
          }
          .tab_item {
            display: none;
            &.active {
              display: flex;
              justify-content: space-between;
              height: 100%;
            }
          } /* tab_item */
          .info_tab {
            .imgthumb {
              height: 90px;
              overflow: hidden;
              width: 90px;
              border-radius: 100%;
              position: relative;
              border: 3px solid #b19e52;
              box-shadow: 0 0 0 3px #7c703e;
              margin: 0 auto 10px;
              img {
                width: 100%;
                height: 100%;
              } /* img */
              span {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(226, 199, 100, 0.62);
                height: 40px;
                text-align: center;
                line-height: 40px;
                text-transform: uppercase;
                font-family: Montserrat_Bold;
                color: #111;
                border-top: 1px solid #a59e86;
                [dir="rtl"] & {
                  font-family: Tajawal_Bold;
                } /* rtl */
              } /* span */
              input {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 9;
                cursor: pointer;
              } /* input */
            } /* imgthumb */
            .content {
            
              padding: 10px;
              border: 1px solid #21231e;
              background: #101010;
              overflow: auto;
              // max-height: 250px;
              margin: 0 auto 5px;
              scrollbar-width: thin;
              scrollbar-color: #aaa49f #272727;
              color: #393939;
              font-size: 14px;
              line-height: 20px;
              input {
                width: 100%;
                height: 40px;
                border: none;
                background: transparent;
                font-size: 16px;
                font-family: Montserrat_Medium;
                border-bottom: 1px solid #808080;
                margin: 0 auto 15px;
                color: #d7d6d6;
                [dir="rtl"] & {
                  font-family: Tajawal_Medium;
                } /* rtl */
              } /* input */
            } /* content */
            .next_step {
              display: flex;
              justify-content: flex-end;
              width: 100%;
              margin: 0 auto 30px;
              span {
                height: 40px;
                line-height: 40px;
                font-size: 13px;
                font-family: Montserrat_Bold;
                color: #e9c785;
                cursor: pointer;
                position: relative;
                text-decoration: underline;
                [dir="rtl"] & {
                  font-family: Tajawal_Bold;
                } /* rtl */
                &::after {
                  content: "\ea75";
                  font-size: 25px;
                  text-decoration: none;
                  float: right;
                  font-family: IcoFont;
                  font-weight: normal;
                  margin: 0 0 0 -5px;
                  [dir="rtl"] & {
                    content: "\ea74";
                    float: left;
                    margin: 0 -5px 0 0;
                  } /* rtl */
                } /* after */
              } /* span */
            } /* next_step */
          } /* info_tab */

          .term_tab {
            .content {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              
              padding: 10px;
              border: 1px solid #21231e;
              background: #101010;
              overflow: auto;
              // max-height: 250px;
              margin: 0 auto 15px;
              scrollbar-width: thin;
              scrollbar-color: #aaa49f #272727;
              color: #393939;
              font-size: 14px;
              line-height: 20px;
            } /* content */
            .checkbox {
              margin: 0 auto 20px;
              padding: 0 0 0 20px;
              position: relative;
              color: #dfbe7f;
              font-size: 13px;
              [dir="rtl"] & {
                padding: 0 20px 0 0;
              } /* rtl */
              input {
                width: auto;
                height: auto;
                margin: 0 auto;
                position: absolute;
                left: 0;
                top: 3px;
                [dir="rtl"] & {
                  left: auto;
                  right: 0;
                } /* rtl */
              } /* input */
            } /* checkbox */
          } /* term_tab */
        } /* tabs_content */
        .registered_link {
          display: flex;
          justify-content: flex-start;
          width: 100%;
          span {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            color: #e9c785;
            cursor: pointer;
            position: relative;
            text-decoration: underline;
            [dir="rtl"] & {
              font-family: Tajawal_Medium;
            } /* rtl */
            &::after {
              content: "\ea74";
              font-size: 35px;
              text-decoration: none;
              float: left;
              font-family: IcoFont;
              font-weight: normal;
              margin: 0 -5px 0 0;
              [dir="rtl"] & {
                content: "\ea75";
                float: right;
                margin: 0 0 0 -5px;
              } /* rtl */
            } /* after */
          } /* span */
        } /* registered_link */
      } /* register_block */
      .signup_block {
        width: 50%;
        padding: 0 0 0 60px;
        [dir="rtl"] & {
          padding: 0 60px 0 0;
        } /* rtl */
        @media (min-width: 320px) and (max-width: 767px) {
          width: 100%;
          padding: 15px;
        }
        span.title {
          font-family: Montserrat_Bold;
          text-transform: uppercase;
          font-size: 25px;
          color: #b59870;
          display: block;
          [dir="rtl"] & {
            font-family: Tajawal_Bold;
          } /* rtl */
        } /* span */
        p {
          color: #808080;
          line-height: 22px;
          font-size: 14px;
          margin: 10px auto 20px;
        } /* p */
        span.action {
          background: -moz-linear-gradient(
            0deg,
            #f7e483 0%,
            #dbba5a 57%,
            #a36d31 100%
          );
          background: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0%, #f7e483),
            color-stop(57%, #dbba5a),
            color-stop(100%, #a36d31)
          );
          background: -webkit-linear-gradient(
            0deg,
            #f7e483 0%,
            #dbba5a 57%,
            #a36d31 100%
          );
          background: -o-linear-gradient(
            0deg,
            #f7e483 0%,
            #dbba5a 57%,
            #a36d31 100%
          );
          background: -ms-linear-gradient(
            0deg,
            #f7e483 0%,
            #dbba5a 57%,
            #a36d31 100%
          );
          background: linear-gradient(
            90deg,
            #f7e483 0%,
            #dbba5a 57%,
            #a36d31 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e483', endColorstr='#a36d31',GradientType=1 );
          height: 40px;
          padding: 0 40px;
          border-radius: 100px;
          font-family: Montserrat_Medium;
          border: none;
          font-size: 18px;
          margin: 10px;
          color: #0c0c0c;
          display: inline-block;
          cursor: pointer;
          -webkit-transition: all 0s ease-in-out;
          -moz-transition: all 0s ease-in-out;
          -o-transition: all 0s ease-in-out;
          transition: all 0s ease-in-out;
          line-height: 40px;
          [dir="rtl"] & {
            font-family: Tajawal_Medium;
          } /* rtl */
          &:hover {
            background: #a36d31;
          } /* hover */
        } /* a */
      } /* signup_block */
    } /* login_area */
  } /* container */
} /* login_page */

.content_div {
  height: 100%;
}
