@import "./variables.scss";
#partners {
  background: #fff;
  .container {
    // width: 1440px;
    margin: 0 auto;
    padding: 0 !important;
    overflow: hidden;
    @media (max-width: 991px) and (min-width: 320px){
      padding: 0 !important;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 0;
      left: 0;
      width: 90%;
      right: 0;
      margin: 0 auto;
    }
    .swiper-container{
      .swiper-wrapper{
        display: flex;
        align-items: center;
        .swiper-slide{
          padding: 20px;
          img{
            width: 90%;
            margin: 0 auto;
          }
        }
      }
      .swiper-pagination-bullet{
        width: 14px;
        height: 14px;
        background: #fff;
        border-radius: 100%;
        border: 3px solid #808080;
        cursor: pointer;
        &.swiper-pagination-bullet-active {
          background: $maincolor;
          border-color: $maincolor;
          cursor: inherit;
        }
      }
    }
    .partners_slider {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      margin: 0 -15px;
      overflow: hidden;
      .slide_page {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        opacity: 0;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        &.active {
          opacity: 1;
        }
        .slide_item {
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 25%;
          padding: 0 15px;
          span {
            display: block;
            height: 150px;
            line-height: 150px;
            text-align: center;
            img {
              max-width: 100%;
              max-height: 100%;
              display: inline-block;
              width: auto;
              height: auto;
              vertical-align: middle;
              -webkit-filter: grayscale(100%);
              -moz-filter: grayscale(100%);
              -o-filter: grayscale(100%);
              filter: grayscale(100%);
              -webkit-transition: all 0.4s ease-in-out;
              -moz-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
            } /* img */
            &:hover {
              img {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
                width: auto;
                height: auto;
                vertical-align: middle;
                -webkit-filter: grayscale(0%);
                -moz-filter: grayscale(0%);
                -o-filter: grayscale(0%);
                filter: grayscale(0%);
              } /* img */
            } /* hover */
          } /* span */
        } /* slide_item */
      }
    } /* partners_slider */
    .slider_dots {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      margin: 30px auto 0;
      span {
        width: 14px;
        height: 14px;
        display: block;
        background: #fff;
        border-radius: 100%;
        border: 3px solid #808080;
        margin: 0 5px;
        cursor: pointer;
        &.current {
          background: $maincolor;
          border-color: $maincolor;
          cursor: inherit;
        } /* current */
      } /* span */
    } /* slider_dots */
  } /* container */
} /* partners */
