#videos_photo {
  background: #141414;
  .container {
    width: 1442px;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    .big_show {
			width: 55%;
			margin: 30px 0;
			order: 2;
			.imgthumb {
				overflow: hidden;
				border-radius: 10px;
				width: 100%;
				height: 510px;
				position: relative;
				img {
					width: 100%;
					height: 100%;
				} /* img */
			} /* imgthumb */
		} /* big_show */
		.videos_slider {
			width: 40%;
			margin: 30px 0;
			order: 1;
			.title {
				display: block;
				font-size: 35px;
				text-transform: uppercase;
				font-family: Montserrat_Bold;
				margin: 0 auto 20px;
				background-image: -webkit-linear-gradient(left, #a36d31, #f7e483, #a36d31); /* For Chrome and Safari */
		    background-image:    -moz-linear-gradient(left, #a36d31, #f7e483, #a36d31); /* For old Fx (3.6 to 15) */
		    background-image:     -ms-linear-gradient(left, #a36d31, #f7e483, #a36d31); /* For pre-releases of IE 10*/
		    background-image:      -o-linear-gradient(left, #a36d31, #f7e483, #a36d31); /* For old Opera (11.1 to 12.0) */
		    background-image:         linear-gradient(to right, #a36d31, #f7e483, #a36d31); /* Standard syntax; must be last */
    		color:transparent;
			  -webkit-background-clip: text;
			  -moz-background-clip: text;
			  -o-background-clip: text;
			  background-clip: text;
			  -webkit-text-fill-color: transparent;
			  -moz-text-fill-color: transparent;
			  -o-text-fill-color: transparent;
			  text-fill-color: transparent;
			} /* title */
			.desc {
				font-size: 15px;
				line-height: 22px;
				color: #808080;
				margin: 0 auto 100px;
				text-transform: capitalize;
			} /* desc */
			.slider_media {
				display: flex;
				flex-wrap: nowrap;
				position: relative;
				.item {
					margin-top: -80px;
					span {
						display: none;
						margin: 0 10% 10px 0;
						text-align: right;
						color: #fff;
						text-transform: uppercase;
						font-size: 14px;
						font-family: Montserrat_Bold;
						i {
							display: inline-block;
							font-style: normal;
							color: #b5883d;
						}
					} /* span */
					.imgthumb {
						width: 308px;
						height: 204px;
						overflow: hidden;
						border-radius: 10px;
						img {
							width: 100%;
							height: 100%;
						} /* img */
					} /* imgthumb */
				} /* item */
				.current {
					margin-top: 0;
					margin-left: -80px;
					span {display: block;}
				} /* current */
				.slide_nav {
					position: absolute;
					right: 0;
					top: -60px;
					display: flex;
					button {
						height: 40px;
						width: 30px;
						line-height: 40px;
						background: transparent;
						border: none;
						padding: 0;
						font-size: 30px;
						color: #fff;
						cursor: pointer;
						&:hover {color: #c0a176;}
					} /* button */
				} /* slide_nav */
			} /* slider_media */
		} /* videos_slider */
  } /* container */
} /* videos_photo */


//**** RTL Style ****//
body[dir="rtl"] {
	#videos_photo {
		.container {
			.videos_slider {
				.title {
					font-size: 35px;
					font-family: Tajawal_Bold;
				}	/* title */
				.desc {
					font-size: 16px;
					line-height: 24px;
				}	/* desc */
				.slider_media {
					.item {
						span {
							font-family: Tajawal_Bold;
							text-align: left;
							margin: 0 0 10px 10%;
						}	/* span */
						&.current {
							margin-left: 0;
							margin-right: -80px;
						}	/* current */
					}	/* item */
					.slide_nav {
						left: 0;
						right: auto;
						button {
	  					-webkit-transform: rotate(180deg);
						  -moz-transform: rotate(180deg);
						  -o-transform: rotate(180deg);
							transform: rotate(180deg);
						}	/* button */
					}	/* slider_nav */
				}	/* slider_media */
			}	/* videos_slider */
		}	/* container */
	} /* videos_photo */
}
//**** RTL Style ****//