<div class="modal-content">
	<div class="modal-body">{{'deleteConfirmationLbl' | translate}}<strong>{{deleteDlCtrl.itemName}}</strong> {{deleteDlCtrl.message}}? </div>
	<div class="pmd-modal-action text-right">
		<button class="btn pmd-ripple-effect btn-primary pmd-btn-flat" type="button" ng-click="deleteDlCtrl.Confirm()">{{'deleteBtn' | translate}}</button>
		<button class="btn pmd-ripple-effect btn-default pmd-btn-flat" type="button" ng-click="deleteDlCtrl.close()">{{'cancelBtn' | translate}}</button>
	</div>
</div>