<div class="modal-content">
  <div class="modal-body">
    {{(deleteDlCtrl.message || 'deleteConfirmationLbl') | translate}}<strong
      >{{deleteDlCtrl.itemName}}</strong
    >
    <!-- {{deleteDlCtrl.message}} -->
    ?
  </div>
  <div class="pmd-modal-action text-right">
    <button
      class="btn pmd-ripple-effect btn-primary pmd-btn-flat"
      type="button"
      ng-click="deleteDlCtrl.Confirm()"
    >
      {{(deleteDlCtrl.okLabel || 'deleteBtn') | translate}}
    </button>
    <button
      class="btn pmd-ripple-effect btn-default pmd-btn-flat"
      type="button"
      ng-click="deleteDlCtrl.close()"
    >
      {{(deleteDlCtrl.cancelLabel || 'cancelBtn') | translate}}
    </button>
  </div>
</div>
