<div class="modal-content">
  <div class="modal-header bordered">
    <h2 class="pmd-card-title-text">{{'EditNews' | translate}}</h2>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editNewsForm">
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li
            role="presentation"
            ng-class="{'active':$index == 0}"
            ng-repeat="lang in editNewsCtrl.language"
          >
            <a
              href="javascript:void(0);"
              data-target="#{{lang.value}}-form"
              aria-controls="home"
              role="tab"
              data-toggle="tab"
            >
              <span style="color: red;">*</span> {{lang.value | translate}}
            </a>
          </li>
        </ul>
        <div class="pmd-card">
          <div class="pmd-card-body">
            <!-- Tab panes -->
            <div class="tab-content">
              <div
                role="tablist"
                class="tab-pane"
                ng-class="{'active':$index == 0}"
                ng-repeat="lang in editNewsCtrl.language"
                id="{{lang.value}}-form"
              >
                <div
                  class="form-group pmd-textfield pmd-textfield-floating-label-completed"
                >
                  <label for="first-name"
                    >{{ lang.value+'Name' | translate}}
                  </label>
                  <input
                    required
                    type="text"
                    class="mat-input form-control"
                    name="title{{lang.value+'Name'}}"
                    ng-model="editNewsCtrl.News.title[lang.key]"
                    ng-minlength="3"
                    ng-maxlength="255"
                  />
                  <div
                    ng-messages="editNewsForm.title{{lang.value+'Name'}}.$error"
                  >
                    <div
                      class="error ng-binding"
                      ng-show="editNewsForm.title{{lang.value+'Name'}}.$error.required && !editNewsForm.title{{lang.value+'Name'}}.$pristine"
                    >
                      {{'requiredErr' | translate}}
                    </div>
                    <div
                      class="error ng-binding"
                      ng-show="(editNewsForm.title{{lang.value+'Name'}}.$error.minlength || editNewsForm.title{{lang.value+'Name'}}.$error.maxlength) && !editNewsForm.title{{lang.value+'Name'}}.$error.required"
                    >
                      {{'NameLengthError3' | translate}}
                    </div>
                  </div>
                </div>
                <div
                  class="form-group pmd-textfield pmd-textfield-floating-label-completed"
                >
                  <label for="first-name"
                    >{{ lang.value+'Name' | translate}}
                  </label>
                  <textarea
                    required
                    type="text"
                    class="mat-input form-control"
                    name="body{{lang.value+'Name'}}"
                    ng-model="editNewsCtrl.News.body[lang.key]"
                    ng-minlength="3"
                    ng-maxlength="955"
                  ></textarea>
                  <div
                    ng-messages="editNewsForm.body{{lang.value+'Name'}}.$error"
                  >
                    <div
                      class="error ng-binding"
                      ng-show="editNewsForm.body{{lang.value+'Name'}}.$error.required && !editNewsForm.body{{lang.value+'Name'}}.$pristine"
                    >
                      {{'requiredErr' | translate}}
                    </div>
                    <div
                      class="error ng-binding"
                      ng-show="(editNewsForm.body{{lang.value+'Name'}}.$error.minlength || editNewsForm.body{{lang.value+'Name'}}.$error.maxlength) && !editNewsForm.body{{lang.value+'Name'}}.$error.required"
                    >
                      {{'NameLengthError3' | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group pmd-textfield-floating-label-completed">
                <!-- <select
                  required
                  style="width: 600px !important;"
                  multiple
                  class="form-control select-add-tags pmd-select2-tags"
                  ng-model="editNewsCtrl.News.keywords"
                >
                  ng-value="item" selected="selected">{{item}}</option>
                
                </select> -->

                <select
                  style="width: 600px !important;"
                  ui-select2
                  multiple
                  class="form-control"
                  ng-model="editNewsCtrl.News.keywords"
                >
                  <option
                    ng-repeat="item in editNewsCtrl.keywords"
                    value="{{item}}"
                    selected
                    >{{item}}</option
                  >
                </select>
                <div class="input-group date" style="width: 200px;">
                  <input
                    datetime-picker
                    date-only
                    required
                    date-format="yyyy-MM-dd"
                    ng-model="editNewsCtrl.newsDate"
                  />
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label>{{'featured' | translate}}</label>
                  <input
                    type="checkbox"
                    class="form-control"
                    ng-model="editNewsCtrl.News.featured"
                  />
                </div>
                <input
                  required
                  type="textbox"
                  class="form-control"
                  ng-model="editNewsCtrl.News.category"
                />
              </div>
              <div class="form-group pmd-textfield-floating-label-completed">
                <span style="color: red;">*</span>

                <input
                  id="posterImage"
                  name="posterImage"
                  style="display: none;"
                  onchange="angular.element(this).scope().AddposterImage(this.files)"
                  type="file"
                  required
                />
                <button
                  class="btn btn-success btn-xs pull-center"
                  ng-click="editNewsCtrl.LoadUploadPoster()"
                >
                  {{'Upload Poster' | translate}}
                </button>
                <span>
                  <i class="material-icons md-dark pmd-md warrningIcon"
                    >warning</i
                  >
                  {{'RecommendedProductImage' | translate}}</span
                >
                <img
                  ng-src="{{editNewsCtrl.posterImage}}"
                  style="max-height: 139px; max-width: 423px;"
                />
                <div ng-messages="editNewsForm.posterImage.$error">
                  <div ng-if="editNewsForm.posterImage.$error.required">
                    {{'requiredErr' | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="pmd-modal-action text-right">
    <button
      style="
        border: #494b74 solid 1px;
        background-color: transparent;
        color: #494b74;
        border-radius: 6px;
      "
      ng-disabled="editNewsForm.$invalid || editNewsCtrl.posterImage ==null"
      class="btn pmd-ripple-effect btn-primary"
      type="button"
      ng-click="editNewsCtrl.UpdateNews()"
    >
      {{'saveChangesBtn' | translate}}
    </button>
    <button
      class="btn pmd-ripple-effect btn-default"
      type="button"
      ng-click="editNewsCtrl.Close()"
    >
      {{'DiscardBtn' | translate}}
    </button>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $(".select-add-tags").select2({
      tags: true,
      theme: "bootstrap",
      insertTag: function (data, tag) {
        data.push(tag);
      },
    });
    $(".select-with-search").select2({
      theme: "bootstrap",
    });
  });
</script>
