<div>
    <div style="margin-bottom:10px" ng-show="user.PermessionModules.includes('Adminstration.add_news')">
        <button style="background: linear-gradient(90deg,#f7e483,#dbba5a 57%,#a36d31);
        border-radius: 17px;" ng-click="$state.go('newNews');" class="btn pmd-ripple-effect btn-primary pmd-z-depth"
            type="button">
            {{'AddNew'| translate}}</button>
    </div>

    <div ng-if="NewsList.length == null">
        <span>{{'NoNewssAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="NewsList.length > 0">
        <div>
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th>{{'image' | translate}}</th>
                        <th>{{'title' | translate}}</th>
                        <th>{{'StatusLbl' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="News in NewsList">
                        <td>
                            <img style="width: 70px;height: 70px;" data-ng-src="{{News.posterUrl}}" />
                        </td>
                        <td data-title="Name">
                            {{News.title[selectedLanguage]   | limitTo : 20}}
                            {{News.title[selectedLanguage].length > 20 ? '...' : ''}}
                        </td>
                        <td ng-show="!News.outdated">
                            <div ng-if="user.PermessionModules.includes('Adminstration.change_news_staus')">
                                <div class="btn-switch" ng-class="{'btn-switch--on':News.outdated}"
                                    ng-model="News.outdated" ng-click="NewsCtrl.ChangeStatus(News)">

                                    <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':News.outdated}"
                                        ng-model="News.outdated" ng-click="NewsCtrl.ChangeStatus(News)">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td ng-show="News.outdated">
                            <div class="btn-switch" ng-class="{'btn-switch--on':News.outdated}"
                                ng-click="NewsCtrl.ChangeStatus(News)" ng-model="News.outdated">

                                <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':News.outdated}"
                                    ng-click="NewsCtrl.ChangeStatus(News)" ng-model="News.outdated">
                                </div>
                        </td>
                        <td width="30%">
                            <i ng-show="user.PermessionModules.includes('News.edit_news')"
                                class="material-icons md-dark pmd-md cursorPointer font25"
                                ng-click="$state.go('editNews',{id: News.id});" title="Edit">mode_edit</i>
                            <i ng-show="user.PermessionModules.includes('News.remove_news')"
                                class="material-icons pmd-md deleteButton cursorPointer font25"
                                ng-click="NewsCtrl.openDeleteDialog(News,News.title[selectedLanguage] ,News.id)"
                                title="Delete">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount"
        paging-action="NewsCtrl.changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
        hide-if-empty="true" disabled-class="hide">
    </div>
</div>