<div>
        {{'NewGovernrate' | translate}}
</div>              
<div class="modal-content">
        
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text">{{'NewGovernrate' | translate}}</h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newAreaForm"> 
            <div> 
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in newGovernrateCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
                                <span style="color:red">*</span> {{lang.value | translate}}
                        </a>
                    </li> 
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in newGovernrateCtrl.language" id="{{lang.value}}-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="first-name"> {{ lang.value+'Name' | translate}} </label>
                                    <input required Area="text" class="mat-input form-control" name="titles{{lang.value+'Name'}}" ng-model="newGovernrateCtrl.titles[lang.key]" ng-minlength="3" ng-maxlength="255">
                                    <div ng-messages="newAreaForm.titles{{lang.value+'Name'}}.$error" >
										
                                        <div ng-show="newAreaForm.titles{{lang.value+'Name'}}.$error.required && !newAreaForm.titles{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                        <div ng-show="(newAreaForm.titles{{lang.value+'Name'}}.$error.minlength || newAreaForm.titles{{lang.value+'Name'}}.$error.maxlength) && !newAreaForm.titles{{lang.value+'Name'}}.$error.required">{{'NameLengthError3' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;" ng-disabled="newAreaForm.$invalid" class="btn pmd-ripple-effect btn-primary" Area="button" ng-click="newGovernrateCtrl.AddNewGovernrate()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" Area="button" ng-click="$state.go('Governrates',{countryId: $stateParams.countryId });">{{'DiscardBtn' | translate}}</button>
    </div>
</div>
