<div class="modal-content container">
    <h2>{{ContactInformation | translate}}</h2>

    <div class="modal-body">
        <form class="form-horizontal" name="editManufactureForm">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}"
                        ng-repeat="lang in newCategoryCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab"
                            data-toggle="tab">
                            {{lang.value | translate}}
                        </a>
                    </li>
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content table-responsive">
                            <!-- name -->
                            <div class="form-group col-lg-2">
                                <label><span style="color:red">*</span> {{'Name' | translate}}</label>
                                <input type="text" class="form-control" name="name" style="display: inline-block; "
                                    ng-model="editManufactureCtrl.name" required />
                                <div class="error" ng-messages="editManufactureForm.name.$error">
                                    <div ng-if="editManufactureForm.name.$error.required && 
                                    !editManufactureForm.name.$pristine">{{'requiredErr' | translate}}</div>
                                </div>
                            </div>
                            <!-- title -->
                            <div class="form-group col-lg-2">
                                <label>{{'Title' | translate}}</label>
                                <input type="text" class="form-control" name="title" style="display: inline-block;"
                                    ng-model="editManufactureCtrl.title" required />
                            </div>
                            <!-- Mobile number -->
                            <div class="form-group col-lg-2">
                                <label> <span style="color:red">*</span> {{'MobileNo' | translate}}</label>
                                <input required type="text" class="mat-input form-control" name="mobileNumber" numbers-only style="display: inline-block;" ng-minlength="11" ng-maxlength="11"
                                    ng-model="editManufactureCtrl.mobileNumber" required />
                                <!-- required validation  -->
                                <div ng-messages="editManufactureForm.mobileNumber.$error">
                                    <div class="error" ng-if="editManufactureForm.mobileNumber.$error.required && 
                                        !editManufactureForm.mobileNumber.$pristine">
                                        {{'requiredErr' |  translate}}
                                    </div>
                                    <!-- length validation -->
                                    <div class="error" ng-if="(editManufactureForm.mobileNumber.$error.minlength ||
                                            editManufactureForm.mobileNumber.$error.maxlength) 
                                             && !editManufactureForm.mobileNumber.newmobileNumber.$error.required">
                                        {{'PhoneLengthError' |  translate}}

                                    </div>
                                </div>
                            </div>
                            <!-- email -->
                            <div class="form-group col-lg-2">
                                <label>{{'EmailLbl' | translate}}</label>
                                <input type="text" class="form-control" name="email" style="display: inline-block;"
                                    ng-model="editManufactureCtrl.email" required />
                            </div>
                            <!-- contact Type -->
                            <div class="form-group col-lg-2">
                                <label>{{'ContactType' | translate}}</label>
                                <!-- required validation -->
                                <select class="form-control select-tags pmd-select2-tags"
                                    ng-model="editManufactureCtrl.contactType" name="contactType">
                                    <option ng-repeat="contact in editManufactureCtrl.ContactTypeList">
                                        {{contact.titles[selectedLanguage]}}
                                    </option>
                                </select>

                            </div>
                            <!-- {{size.sizeNameDictionary[selectedLanguage]}} -->

                            <!-- add button -->
                            <div class="col-lg-2">
                                <label>{{'Addtotable' | translate}}</label>
                                <input type="button" ng-click="editManufactureCtrl.AddContact()"
                                class="btn btn-primary" value="{{'AddBtn' | translate}}"
                                    style="height: 36px;border: #494b74 solid 1px;border-radius: 6px;">
                            </div>
                            <hr>
                            <!-- binding data from inputs to table -->
                            <table class="table pmd-table table-hover">
                                <!-- heads -->
                                <thead>
                                    <tr>
                                        <th>{{'Name' | translate}}</th>
                                        <th>{{'Title' | translate}}</th>
                                        <th>{{'MobileNo' | translate}}</th>
                                        <th>{{'EmailLbl' | translate}}</th>
                                        <th>{{'ContactType' | translate}}</th>
                                        <th>{{'Action' | translate}}</th>
                                    </tr>
                                </thead>
                                <!-- binding data -->
                                <tbody>
                                    <tr
                                        ng-repeat="(index,Contact) in editManufactureCtrl.Manufacture.manufactureContactInformation">
                                        <td data-title="Name">{{Contact.name}}</td>
                                        <td data-title="Title">{{Contact.title}}</td>
                                        <td data-title="mobileNumber"> {{Contact.mobileNumber}}</td>
                                        <td data-title="email">{{Contact.email}}</td>
                                        <td data-title="ContactType">{{Contact.title}}</td>
                                        <td data-title="Action">
                                            <input type="checkbox"
                                                ng-change="editManufactureCtrl.setContactMain(Contact)"
                                                ng-model="Contact.main">
                                        </td>
                                        <td width="30%">
                                            <i
                                    class="material-icons pmd-md deleteButton cursorPointer font25" ng-click="editManufactureCtrl.openDeleteContactTypeDialog(index)"title="Delete">delete</i>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="(index,Contact1) in editManufactureCtrl.ContactList">
                                        <td data-title="Name">{{Contact1.name}}</td>
                                        <td data-title="Title">{{Contact1.title}}</td>
                                        <td data-title="mobileNumber"> {{Contact1.mobileNumber}}</td>
                                        <td data-title="email">{{Contact1.email}}</td>
                                        <td data-title="ContactType">{{editManufactureCtrl.contactType}}</td>
                                        <td data-title="Action">
                                            <input type="checkbox"
                                                ng-change="editManufactureCtrl.setContactMain(Contact1)"
                                                ng-model="Contact1.checkbox">
                                        </td>
                                        <td width="30%">
                                            <i
                                    class="material-icons pmd-md deleteButton cursorPointer font25" ng-click="editManufactureCtrl.openDeleteContactTypeDialogContactList(index)"title="Delete">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>