<div class="modal-content container">
  <h2>{{'commercialInformation' | translate}}</h2>

  <div class="modal-body">
    <form class="form-horizontal" name="newManufactureForm">
      <div>
          <!-- <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
              <input id="companyLogo" name="companyLogo" style="display: none;" onchange="angular.element(this).scope().AddcompanyLogo(this.files)"
               type="file" required>
              <button ng-click="newManufactureCtrl.LoadUploadLogo()">{{'UploadImageBtn' | translate}}</button>
              <span> <i class="material-icons md-dark pmd-md warrningIcon">warning</i> {{'RecommendedcompanyLogo1' | translate}}</span>
              <img ng-src="{{newManufactureCtrl.companyLogo}}" style="max-height: 139px;max-width: 423px;">
              {{imageType}}
              <div ng-messages="newManufactureForm.companyLogo.$error">
                <div ng-if="newManufactureForm.companyLogo.$error.required">{{'requiredErr' | translate}}</div>
                  </div>
            </div> -->

            <div class="form-group pmd-textfield-floating-label-completed">
              <span style="color:red">*</span>
              <label for="image" class="btn btn-success btn-xs pull-center" name="upload" Value="">Upload
                  Photo</label>
              <input id="image" class="hidden" type="file" img-upload ng-model="imageName"
                  name="imageName">
              <img ng-src="{{image}}" height="100" width="100" ng-show="image" />

              <span> <i class="material-icons md-dark pmd-md warrningIcon">warning</i>
                  {{'RecommendedProductImage' | translate}}</span>

                  
          </div>
</div>
</div>