<div id="bold">
        {{'EditCountry' | translate}}
</div>
<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text">{{'Country' | translate}}</h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="editCountryForm">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}"
                        ng-repeat="lang in editCountryCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab"
                            data-toggle="tab">
                            <span style="color:red">*</span>{{lang.value | translate}}
                        </a>
                    </li>
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}"
                                ng-repeat="lang in editCountryCtrl.language" id="{{lang.value}}-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                                    <label for="first-name"> {{ lang.value+'Name' | translate}} </label>
                                    <input required type="text" class="mat-input form-control"
                                        name="titles{{lang.value+'Name'}}"
                                        ng-model="editCountryCtrl.Country.titles[lang.key]" ng-minlength="3"
                                        ng-maxlength="255">
                                    <div ng-messages="editCountryForm.titles{{lang.value+'Name'}}.$error">

                                        <div class="error"
                                            ng-show="editCountryForm.titles{{lang.value+'Name'}}.$error.required && !editCountryForm.titles{{lang.value+'Name'}}.$pristine">
                                            {{'requiredErr' | translate}}</div>
                                        <div class="error"
                                            ng-show="(editCountryForm.titles{{lang.value+'Name'}}.$error.minlength || editCountryForm.titles{{lang.value+'Name'}}.$error.maxlength) && !editCountryForm.titles{{lang.value+'Name'}}.$error.required">
                                            {{'NameLengthError3' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;" ng-disabled="editCountryForm.$invalid"
            class="btn pmd-ripple-effect btn-primary" type="button"
            ng-click="editCountryCtrl.UpdateCountry()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" type="button"
            ng-click="editCountryCtrl.Close()">{{'DiscardBtn' | translate}}</button>
    </div>
</div>