<style>
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>
<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text">        {{'EditRoleLbl' | translate}}
            </h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="editRoleForm">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in editRoleCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab"
                            data-toggle="tab">
                            <span style="color:red">*</span> {{lang.value | translate}}
                        </a>
                    </li>
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}"
                                ng-repeat="lang in editRoleCtrl.language" id="{{lang.value}}-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                                    <label for="first-name"> {{ lang.value+'Name' | translate}} </label>
                                    <input required type="text" class="mat-input form-control"
                                        name="titles{{lang.value+'Name'}}" ng-model="editRoleCtrl.Role.titles[lang.key]"
                                        ng-minlength="3" ng-maxlength="255">
                                    <div ng-messages="editRoleForm.titles{{lang.value+'Name'}}.$error">

                                        <div
                                            ng-show="editRoleForm.titles{{lang.value+'Name'}}.$error.required && !editRoleForm.titles{{lang.value+'Name'}}.$pristine">
                                            {{'requiredErr' | translate}}</div>
                                        <div
                                            ng-show="(editRoleForm.titles{{lang.value+'Name'}}.$error.minlength || editRoleForm.titles{{lang.value+'Name'}}.$error.maxlength) && !editRoleForm.titles{{lang.value+'Name'}}.$error.required">
                                            {{'NameLengthError3' | translate}}</div>
                                    </div>
                                </div>

                            </div> 
                            
                            <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <tr ng-repeat-start="module in editRoleCtrl.Role.permessionTree">
                                    <td><strong>{{module.module.title[selectedLanguage]}}</strong></td>
                                </tr>
                                <tr ng-repeat-end ng-repeat="per in module.permessions">
                                    <td> <input type="checkbox" ng-change="editRoleCtrl.checkPermission(per)"
                                            ng-model="per.seclected"> </td>
                                    <td>{{ per.title[selectedLanguage]}}</td>
                                </tr>
                            </table> 
                            </div>
                    </div>


                </div>
            </div>

        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;" ng-disabled="editRoleForm.$invalid"
            class="btn pmd-ripple-effect btn-primary" type="button"
            ng-click="editRoleCtrl.UpdateRole()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" type="button"
            ng-click="editRoleCtrl.Close()">{{'DiscardBtn' | translate}}</button>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $(".select-with-search").select2({
            theme: "bootstrap"
        });
    });
    $(".select-tags").select2({
        tags: false,
        theme: "bootstrap",
    });
</script>