<style>
    ::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text"> {{'EditRoleLbl' | translate}}
        </h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="editRoleForm">
            <div class="row">
                <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label for="first-name"><span style="color:red">*</span>{{'name' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="roleName"
                        ng-model="editRoleCtrl.name" ng-minlength="3" ng-maxlength="255">
                    <div ng-messages="editRoleForm.roleName.$error" class="error">
                        <div class="error" ng-show="editRoleForm.roleName.$error.pattern">{{'TextOnly' | translate}}
                        </div>
                        <div class="error"
                            ng-if="editRoleForm.roleName.$error.required && !editRoleForm.roleName.$pristine">{{'NameLengthError3'
                    | translate}}</div>
                        <div class="error"
                            ng-if="(editRoleForm.roleName.$error.minlength || editRoleForm.roleName.$error.maxlength) ">{{'NameLengthError3'
                    | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'Modules' | translate}}</label>
                    <select required style="width:100% !important" multiple
                        class="form-control select-with-search pmd-select2-tags" ng-model="editRoleCtrl.selectedModule"
                        ng-change="editRoleCtrl.changePermissionList(editRoleCtrl.selectedModule)"
                        ng-options=" group as group for group in editRoleCtrl.moduleList">
                    </select>

                </div>

            </div>
            <div class="row">
                <div class="col-md-8  form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <div ng-if="editRoleCtrl.newSelectedPermissions.length == 0">
                        <span>{{'NoRolesAvailable' | translate}}</span>
                    </div>

                    <div class="pmd-card pmd-z-depth pmd-card-custom-view"
                        ng-if="editRoleCtrl.newSelectedPermissions.length > 0">
                        <div class="table-responsive">
                            <table class="table pmd-table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:1%">
                                            <input type="checkbox"
                                                ng-checked="editRoleCtrl.selectedPermission.length == editRoleCtrl.newSelectedPermissions.length"
                                                value="editRoleCtrl.selectedPermission.length == editRoleCtrl.newSelectedPermissions.length"
                                                ng-click="editRoleCtrl.selectAllPermission($event.target.checked)"
                                                id="selectAllPermission">
                                        </th>
                                        <th style="width: 30%">{{'Name' | translate}}</th>
                                        <th style="width: 20%">{{'Module' | translate}}</th>
                                        <th style="width: 50%">{{'Description' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="perm in editRoleCtrl.newSelectedPermissions">
                                        <td> <input type="checkbox" id="perm-{{perm.id}}" value="perm" name="perm"
                                                ng-change="editRoleCtrl.selectPermission(perm)"
                                                ng-model="perm.isSelected" id="perm.id"></td>

                                        <td>{{perm.name}}</td>
                                        <td>{{perm.systemModule}}</td>
                                        <td>{{perm.description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount"
                        paging-action="editRoleCtrl.changePage(page)" flex="nogrow" show-prev-next="true"
                        show-first-last="true" hide-if-empty="true" disabled-class="hide">
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
            ng-disabled="editRoleForm.$invalid" class="btn pmd-ripple-effect btn-primary" type="button"
            ng-click="editRoleCtrl.UpdateRole()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" type="button"
            ng-click="editRoleCtrl.Close()">{{'DiscardBtn' | translate}}</button>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $(".select-with-search").select2({
            theme: "bootstrap"
        });
    });
    $(".select-tags").select2({
        tags: false,
        theme: "bootstrap",
    });
</script>