<div>
    <div id="bold">
        {{'ProductDetails' | translate}}
    </div>
    <h1 class="text-center">
        <kbd style="background-color: #494b74c4;">
            {{selectedManufacture.name}} :
            {{selectedManufacture.code}}
        </kbd>
        <br>
        <kbd style="background-color: #494b74c4;">
            {{Product.description[selectedLanguage]}} :
            {{Product.code}}
        </kbd>
    </h1>
    <div style="margin-bottom:10px" ng-show="user.permessionModules['ProductDetails'].includes(24)">
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
            ng-click="$state.go('newProductDetails',{produdctId:$stateParams.produdctId});"
            class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddNew' | translate}}</button>

    </div>
    <div ng-if="ProductDetails.results.length == 0">
        <span>{{'NoProductAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="ProductDetails.results.length > 0">
        <div class="table-responsive">
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th>{{'barCode' | translate}}</th>
                        <th>{{'SKU' | translate}}</th>
                        <th>{{'price' | translate}}</th>
                        <th>{{'minQty' | translate}}</th>
                        <th>{{'StatusLbl' | translate}}</th>
                        <th>{{'IsPromoteProduct' | translate}}</th>
                        <th>{{'blockOnDate' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Product in ProductDetails.results">

                        <td data-title="Name">{{Product.barCode}}</td>
                        <td data-title="Name">{{Product.priceList[0].sku[selectedLanguage]}}</td>
                        <td data-title="Name">{{Product.priceList[0].price}}</td>
                        <td data-title="Name">{{Product.minorderQty}}</td>

                        <td data-title="Name">
                            <div class="btn-switch" ng-class="{'btn-switch--on':Product.isActive}"
                                ng-model="Product.isActive">

                                <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':Product.isActive}"
                                    ng-model="Product.isActive">
                                </div>
                        </td>
                        <td data-title="Name">
                            <div class="btn-switch" ng-class="{'btn-switch--on':Product.isPormotedAllow}"
                                ng-model="Product.isPormotedAllow">

                                <div class="btn-switch-circle"
                                    ng-class="{'btn-switch-circle--on':Product.isPormotedAllow}"
                                    ng-model="Product.isPormotedAllow">
                                </div>
                        </td>
                        <td data-title="Name">{{Product.blockOnDate | date : "d/MMM/yy h:mm a" }}</td>

                        <td data-title="Name">
                            <i ng-show="user.permessionModules['ProductDetails'].includes(26)"
                                class="material-icons md-dark pmd-md cursorPointer font25"
                                ng-click="ProductDetailsCtrl.openProductDetails(Product)" title="Edit">mode_edit</i>
                        </td>


                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount"
        paging-action="changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true"
        disabled-class="hide">
    </div>
</div>
<div>
        <a onclick="goBack()">
            <div class="col-xs-12">
                <button type="button"
                class="btn btn-primary" 
                style="height: 36px;border: #494b74 solid 1px;border-radius: 6px;">
                {{'goBack' | translate}}
                </button>
            </div>
            </a>
    </div>