<a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
    <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>
    <span class="admin-name">Advanda Cro</span>
    <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
</a>
<ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
    <li>
        <a href="#"><span class="adminpro-icon adminpro-home-admin author-log-ic"></span>My Account</a>
    </li>
    <li>
        <a href="#"><span class="adminpro-icon adminpro-user-rounded author-log-ic"></span>My Profile</a>
    </li>
    <li>
        <a href="#"><span class="adminpro-icon adminpro-money author-log-ic"></span>User Billing</a>
    </li>
    <li>
        <a href="#"><span class="adminpro-icon adminpro-settings author-log-ic"></span>Settings</a>
    </li>
    @if (User.Identity.IsAuthenticated)
    {
        <li>
            <a asp-controller="Account" asp-action="Logout"> <span class="adminpro-icon adminpro-locked author-log-ic"></span> Logout</a>
            @*<a href="#"><span class="adminpro-icon adminpro-locked author-log-ic"></span>Log Out</a>*@
        </li>
    }

</ul>