<a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-bell-o" aria-hidden="true"></i><span class="indicator-nt"></span></a>
<div role="menu" class="notification-author dropdown-menu animated flipInX">
    <div class="notification-single-top">
        <h1>Notifications</h1>
    </div>
    <ul class="notification-menu">
        <li>
            <a href="#">
                <div class="notification-icon">
                    <span class="adminpro-icon adminpro-checked-pro"></span>
                </div>
                <div class="notification-content">
                    <span class="notification-date">16 Sept</span>
                    <h2>Advanda Cro</h2>
                    <p>Please done this project as soon possible.</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="notification-icon">
                    <span class="adminpro-icon adminpro-cloud-computing-down"></span>
                </div>
                <div class="notification-content">
                    <span class="notification-date">16 Sept</span>
                    <h2>Sulaiman din</h2>
                    <p>Please done this project as soon possible.</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="notification-icon">
                    <span class="adminpro-icon adminpro-shield"></span>
                </div>
                <div class="notification-content">
                    <span class="notification-date">16 Sept</span>
                    <h2>Victor Jara</h2>
                    <p>Please done this project as soon possible.</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="notification-icon">
                    <span class="adminpro-icon adminpro-analytics-arrow"></span>
                </div>
                <div class="notification-content">
                    <span class="notification-date">16 Sept</span>
                    <h2>Victor Jara</h2>
                    <p>Please done this project as soon possible.</p>
                </div>
            </a>
        </li>
    </ul>
    <div class="notification-view">
        <a href="#">View All Notification</a>
    </div>
</div>