<div>
    <div style="margin-bottom:10px" ng-show="user.PermessionModules['News'].includes('add_new')">
        <!-- <div id="bold"> {{'AddNewBoothBtn'| translate}} </div> -->
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
            ng-click="$state.go('newBooth');" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">
            {{'AddNew'| translate}}</button>
    </div>

    <div ng-if="BoothList.length == null">
        <span>{{'NoBoothsAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="BoothList.length > 0">
        <div class="table-responsive">
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th>{{'code' | translate}}</th>
                        <th>{{'price' | translate}}</th>
                        <th>{{'description' | translate}}</th>
                        <th>{{'details' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="Booth in BoothList">

                        <td data-title="code">
                            {{Booth.code}}
                        </td>
                        <td data-title="code">
                            {{Booth.price}}
                        </td>
                        <td data-title="Name">
                            {{Booth.description[selectedLanguage]  | limitTo : 20}}
                            {{Booth.description[selectedLanguage].length > 20 ? '...' : ''}}
                        </td>
                        <td class="pmd-table-row-action">
                            <span href="javascript:void(0);" ng-if="Booth.boothPurchase.length >0 "
                                ng-click="Booth.show=!Booth.show;BoothCtrl.showMore($event)"
                                class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm child-table-expand direct-expand"><i
                                    class="material-icons md-dark pmd-sm"></i></span>
                        </td>
                        <td width="30%">
                            <i ng-show="user.PermessionModules['News'].includes('add_new')"
                                class="material-icons md-dark pmd-md cursorPointer font25"
                                ng-click="$state.go('editBooth',{id: Booth.id});" title="Edit">mode_edit</i>
                            <i ng-show="user.PermessionModules['News'].includes('remove')"
                                class="material-icons pmd-md deleteButton cursorPointer font25"
                                ng-click="BoothCtrl.openDeleteDialog(Booth,Booth.description ,Booth.id)"
                                title="Delete">delete</i>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-repeat="purchase in Booth.boothPurchase" ng-show="Booth.show" id="collapse">
                        <td style="width: 10px">{{purchase.contactName}}</td>
                        <td style="width: 10px">{{purchase.phone1}}</td>
                        <td style="width: 10px">{{purchase.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount"
        paging-action="BoothCtrl.changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
        hide-if-empty="true" disabled-class="hide">
    </div>
</div>