<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-description-text">{{'EditAward' | translate}}</h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="editAwardForm">
            <div>

                <div class="row">
                    <div class="form-group col-lg-2">
                        <img ng-src="{{editAwardCtrl.trophyImage}}" style="max-height: 97px;max-width: 423px;">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" ng-class="{'active':$index == 0}"
                                ng-repeat="lang in editAwardCtrl.language">
                                <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home"
                                    role="tab" data-toggle="tab">
                                    <span style="color:red">*</span> {{lang.value | translate}}
                                </a>
                            </li>
                        </ul>
                        <div class="pmd-card">
                            <div class="pmd-card-discription">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}"
                                        ng-repeat="lang in editAwardCtrl.language" id="{{lang.value}}-form">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                                            <label for="first-name">{{ lang.value+'Name' | translate}} </label>
                                            <input required type="text" class="mat-input form-control"
                                                name="title{{lang.value+'Name'}}"
                                                ng-model="editAwardCtrl.Award.title[lang.key]" ng-minlength="3"
                                                ng-maxlength="255">
                                            <div ng-messages="editAwardForm.title{{lang.value+'Name'}}.$error">

                                                <div class="error ng-binding"
                                                    ng-show="editAwardForm.title{{lang.value+'Name'}}.$error.required && !editAwardForm.title{{lang.value+'Name'}}.$pristine">
                                                    {{'requiredErr' | translate}}</div>
                                                <div class="error ng-binding"
                                                    ng-show="(editAwardForm.title{{lang.value+'Name'}}.$error.minlength || editAwardForm.title{{lang.value+'Name'}}.$error.maxlength) && !editAwardForm.title{{lang.value+'Name'}}.$error.required">
                                                    {{'NameLengthError3' | translate}}</div>
                                            </div>
                                        </div>
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                                            <label for="first-name">{{ lang.value+'Name' | translate}} </label>
                                            <textarea required type="text" class="mat-input form-control"
                                                name="description{{lang.value+'Name'}}"
                                                ng-model="editAwardCtrl.Award.description[lang.key]" ng-minlength="3"
                                                ng-maxlength="955"></textarea>
                                            <div ng-messages="editAwardForm.description{{lang.value+'Name'}}.$error">

                                                <div class="error ng-binding"
                                                    ng-show="editAwardForm.description{{lang.value+'Name'}}.$error.required && !editAwardForm.description{{lang.value+'Name'}}.$pristine">
                                                    {{'requiredErr' | translate}}</div>
                                                <div class="error ng-binding"
                                                    ng-show="(editAwardForm.description{{lang.value+'Name'}}.$error.minlength || editAwardForm.description{{lang.value+'Name'}}.$error.maxlength) && !editAwardForm.description{{lang.value+'Name'}}.$error.required">
                                                    {{'NameLengthError3' | translate}}</div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="form-group col-lg-2">
                        <img ng-src="{{editAwardCtrl.trophyImage}}" style="max-height: 97px;max-width: 423px;">
                    </div> -->
                    <div class="form-group col-lg-4">
                        <label for="first-name">{{'Manager' | translate}}</label>
                        <select required style="width:100% !important"
                            class="form-control select-with-search pmd-select2-tags"
                            ng-model="editAwardCtrl.selectedManager"
                            ng-options="group as group.fullName for group in editAwardCtrl.ManagerList">
                        </select>

                    </div>

                    <div class="form-group col-lg-4">
                        <label for="first-name">{{'type' | translate}}</label>
                     <br>  {{editAwardCtrl.Award.awardType}}
                        <!-- <div ng-repeat="awardType in editAwardCtrl.awardTypes" id="radio-{{radius.price}}">
                            <input type="radio" name="type" ng-checked="awardType.checked"
                                ng-model="editAwardCtrl.selectedType" value="{{awardType.Id}}">{{awardType.shortName}}
                        </div> -->
                    </div>
                    <!-- <div class="form-group col-lg-6">
                        <label for="first-name">{{'Judges' | translate}}</label>
                        <select required style="width:100% !important" multiple
                            class="form-control select-with-search pmd-select2-tags"
                            ng-model="editAwardCtrl.selectedJudgesLevel1"
                            ng-options="group as group.fullName  for group in editAwardCtrl.judgesLevel1Listist">
                        </select>
                    </div> -->
                </div>

                <div class="row">
                    <div class="form-group col-lg-6">
                        <div ng-if="editAwardCtrl.judgesLevel1List.length == 0">
                            <span>{{'NoJudgesAvailable' | translate}}</span>
                        </div>
                        <div class="pmd-card pmd-z-depth pmd-card-custom-view"
                            ng-if="editAwardCtrl.judgesLevel1List.length > 0">
                            <div class="table-responsive">
                                <table class="table pmd-table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:1%">
                                                <input type="checkbox"
                                                    ng-checked="editAwardCtrl.selectedJudgesLevel1.length == editAwardCtrl.judgesLevel1List.length"
                                                    value="editAwardCtrl.selectedJudgesLevel1.length == editAwardCtrl.judgesLevel1List.length"
                                                    ng-click="editAwardCtrl.selectAllJudgeLevel1($event.target.checked)"
                                                    id="selectAllJudgeLevel1">

                                            </th>
                                            <th style="width: 50%">{{'Name' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="judge in editAwardCtrl.judgesLevel1List">
                                            <td> <input type="checkbox" id="judge-{{judge.id}}" value="judge"
                                                    name="judge" ng-change="editAwardCtrl.selectJudgeLevel1(judge)"
                                                    ng-model="judge.isSelected" id="judge.id"></td>

                                            <td>{{judge.fullName}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </div>
                        </div>
 
                        <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount"
                            paging-action="changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
                            hide-if-empty="true" disabled-class="hide">
                        </div>

                    </div>

                    <div class="form-group col-lg-6">
                        <div ng-if="editAwardCtrl.judgesLevel2List.length == 0">
                            <span>{{'NoJudgesAvailable' | translate}}</span>
                        </div>
                        <div class="pmd-card pmd-z-depth pmd-card-custom-view"
                            ng-if="editAwardCtrl.judgesLevel2List.length > 0">
                            <div class="table-responsive">
                                <table class="table pmd-table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:1%">
                                                <input type="checkbox"
                                                    ng-checked="editAwardCtrl.selectedJudgesLevel2.length == editAwardCtrl.judgesLevel2List.length"
                                                    value="editAwardCtrl.selectedJudgesLevel2.length == editAwardCtrl.judgesLevel2List.length"
                                                    ng-click="editAwardCtrl.selectAllJudgeLevel2($event.target.checked)"
                                                    id="selectAllJudgeLevel2">

                                            </th>
                                            <th style="width: 50%">{{'Name' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="judge2 in editAwardCtrl.judgesLevel2List">
                                            <td> <input type="checkbox" id="judge2-{{judge2.id}}" value="judge2"
                                                    name="judge2" ng-change="editAwardCtrl.selectJudgeLevel2(judge2)"
                                                    ng-model="judge2.isSelected" id="judge2.id"></td>

                                            <td>{{judge2.fullName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                        <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount"
                            paging-action="changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
                            hide-if-empty="true" disabled-class="hide">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-type: 6px;"
            class="btn pmd-ripple-effect btn-primary" type="button"
            ng-click="editAwardCtrl.UpdateAward()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" type="button"
            ng-click="editAwardCtrl.Close()">{{'DiscardBtn' | translate}}</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".select-add-tags").select2({
            tags: true,
            theme: "bootstrap",
            insertTag: function (data, tag) {
                // Insert the tag at the end of the results
                data.push(tag);
                // console.log(data);
            }
        });
        $(".select-with-search").select2({
            theme: "bootstrap"
        });
    });
</script>