<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text"> {{'AddNewBoothBtn' | translate}} </h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newBoothForm">
            <div class="row">
                <div class="form-group col-lg-12">
                    <img src="../../../../assets/img/booth.jpg" style="height: 350px;
                    width: 80%;" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{'active':$index == 0}"
                            ng-repeat="lang in newBoothCtrl.language">
                            <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home"
                                role="tab" data-toggle="tab">
                                <span style="color:red">*</span>{{lang.value | translate}}
                            </a>
                        </li>
                    </ul>
                    <div class="pmd-card">
                        <div class="pmd-card-body">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}"
                                    ng-repeat="lang in newBoothCtrl.language" id="{{lang.value}}-form">

                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="first-name">{{ 'Description' | translate}} </label>
                                        <textarea required class="mat-input form-control"
                                            name="Description{{lang.value+'Name'}}"
                                            ng-model="newBoothCtrl.Description[lang.key]" ng-minlength="3"
                                            ng-maxlength="955"></textarea>
                                        <div ng-messages="newBoothForm.Description{{lang.value+'Name'}}.$error">

                                            <div class="error ng-binding"
                                                ng-show="newBoothForm.Description{{lang.value+'Name'}}.$error.required && !newBoothForm.Description{{lang.value+'Name'}}.$pristine">
                                                {{'requiredErr' | translate}}</div>
                                            <div class="error ng-binding"
                                                ng-show="(newBoothForm.Description{{lang.value+'Name'}}.$error.minlength || newBoothForm.Description{{lang.value+'Name'}}.$error.maxlength) && !newBoothForm.Description{{lang.value+'Name'}}.$error.required">
                                                {{'NameLengthError3' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-3">
                    <label for="first-name">{{'Code' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="Code" numbers-only
                        style="display: inline-block;" ng-minlength="1" ng-maxlength="4"
                        ng-model="newBoothCtrl.Code" required />
                    <!-- required validation  -->
                    <div ng-messages="newBoothForm.Code.$error">
                        <div class="error" ng-if="newBoothForm.Code.$error.required && 
                                    !newBoothForm.Code.$pristine">
                            {{'requiredErr' |  translate}}
                        </div>
                        <!-- length validation -->
                        <div class="error" ng-if="(newBoothForm.Code.$error.minlength ||
                                        newBoothForm.Code.$error.maxlength) 
                                         && !newBoothForm.Code.newCode.$error.required">
                            {{'PhoneLengthError' |  translate}}
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-3">
                    <label for="first-name">{{'Price' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="Price" numbers-only
                        style="display: inline-block;" ng-minlength="1" ng-maxlength="4"
                        ng-model="newBoothCtrl.Price" required />
                    <!-- required validation  -->
                    <div ng-messages="newBoothForm.Price.$error">
                        <div class="error" ng-if="newBoothForm.Price.$error.required && 
                                    !newBoothForm.Price.$pristine">
                            {{'requiredErr' |  translate}}
                        </div>
                        <!-- length validation -->
                        <div class="error" ng-if="(newBoothForm.Price.$error.minlength ||
                                        newBoothForm.Price.$error.maxlength) 
                                         && !newBoothForm.Price.newPrice.$error.required">
                            {{'PhoneLengthError' |  translate}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
            ng-disabled="newBoothForm.$invalid" class="btn pmd-ripple-effect btn-primary" Booth="button"
            ng-click="newBoothCtrl.AddNewBooth()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" Booth="button"
            ng-click="newBoothCtrl.close()">{{'DiscardBtn' | translate}}</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".select-add-tags").select2({
            tags: true,
            theme: "bootstrap",
            insertTag: function (data, tag) {
                data.push(tag);
            }
        });
        $(".select-with-search").select2({
            theme: "bootstrap"
        });
    });
</script>