<div id="bold">
    {{'Order' | translate}}
</div>
<div>
    <form name="orderForm">
        <div class="col-xs-4  form-group pmd-textfield pmd-textfield-floating-label-completed" id="pmd-textfield">
            <input required type="text" class="mat-input form-control" id="searchInputOrder" name="searchInput"
                placeholder="{{'searchbyRetailerName' | translate}}" ng-model="OrderIooCtrl.searchRetailer">
        </div>
        <div class="col-xs-2  form-group pmd-textfield pmd-textfield-floating-label-completed" id="pmd-textfield">
            <input required type="text" class="mat-input form-control" id="searchInputOrder" name="searchBasketInput"
                placeholder="{{' SearchbyBasketNo ' | translate}}" ng-model="OrderIooCtrl.searchBasket">

        </div>
        <div class="col-xs-2  form-group pmd-textfield pmd-textfield-floating-label-completed" id="pmd-textfield">
            <input required type="text" class="mat-input form-control" name="searchInput"
                placeholder="  {{'SearchbyOrderNo' | translate}}" ng-model="OrderIooCtrl.searchOrder" id="searchInputOrder">

        </div>
        <div class="col-xs-2  form-group pmd-textfield pmd-textfield-floating-label-completed">
            <label for="readonly"> {{'fromLbl' | translate}}
            </label>
            <input name="itemDatetime" ng-model="OrderIooCtrl.from" type="text" id="startdate" class="form-control"
                ng-change="OrderIooCtrl.dateFromChange();" /> 
        </div>

        <div class="col-xs-2  form-group pmd-textfield pmd-textfield-floating-label-completed">
            <label for="readonly"> {{'toLbl' | translate}}
            </label>
            <input name="itemDatetime" ng-model="OrderIooCtrl.to" type="text" id="enddate" class="form-control"
                ng-change="dateToChange();" /> 
        </div>
        <div class="col-xs-6  form-group pmd-textfield pmd-textfield-floating-label-completed">

            <button id="searchBtbOrder" class="btn pmd-ripple-effect btn-primary" type="button"
                ng-click="OrderIooCtrl.filterOrder(false)">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px"
                    height="14px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="bound" x="0" y="0" width="15px" height="15px" />
                        <path
                            d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                            id="Path-2" fill="#383a53" fill-rule="nonzero" opacity="0.3" />
                        <path
                            d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                            id="Path" fill="#383a53" fill-rule="nonzero" />
                    </g>
                </svg>
                {{'search' | translate}}
            </button>
        </div>
        <div class="col-sm-6 form-group pmd-textfield pmd-textfield-floating-label-completed">
            <button class="btn pmd-ripple-effect btn-primary " type="button" id="searchBtbOrder"
                ng-click="OrderIooCtrl.filterOrder(true)">{{'All' | translate}}</button>
        </div>

    </form>
</div>
<div class="table-responsive">
    <div ng-if="OrderIooCtrl.Orders.length == 0">
        <span>{{'NoOrderAvailable' | translate}}</span>
    </div>
</div>
<div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="OrderIooCtrl.Orders.length > 0">
    <div class="table-responsive">
        <table class="table pmd-table table-hover">
            <thead>
                <tr>
                    <th>{{'BasketNo' | translate}}</th>
                    <th>{{'Retailer' | translate}}</th>
                    <th style="width: 20%">{{'Date' | translate}}</th>
                    <th>{{'price' | translate}}</th>
                    <th>{{'DetailsBtn' | translate}}</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="Order in OrderIooCtrl.Orders">
                    <td>{{Order.basketNo}}</td>
                    <td>{{Order.retailer.name}}-{{Order.retailer.code}}</td>
                    <td>{{Order.orders[0].createDate  }}</td>
                    <td>{{Order.totalPrice}} <sub> {{'EGP' | translate}}</sub></td>
                    <td class="pmd-table-row-action">
                        <span href="javascript:void(0);" ng-if="Order.orders.length >0 "
                            ng-click="Order.show=!Order.show;OrderIooCtrl.showMore($event)"
                            class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm child-table-expand direct-expand"><i
                                class="material-icons md-dark pmd-sm"></i></span>
                    </td>

                    <td></td>


                </tr>

                <tr ng-repeat-end ng-repeat="basketRow in Order.orders" ng-show="Order.show" id="collapse">
                    <td style="width: 10px">{{basketRow.orderNo}}</td>
                    <td style="width: 10px">{{basketRow.retailer.name}}-{{basketRow.retailer.code}}</td>
                    <td style="width: 10px">{{basketRow.tenant.name}}-{{basketRow.tenant.code}}</td>
                    <td style="width: 10px">{{basketRow.createDate | date : "d/MMM/yy h:mm a" }}</td>
                    <td style="width: 10px">{{basketRow.totalPrice}} <sub>EGP</sub></td>
                    <td style="width: 15%">
                        <a style="cursor: pointer;" class="pmd-ripple-effect "
                            ng-click="$state.go('OrderDetails',{orderId: basketRow.orderId});">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect id="bound" x="0" y="0" width="24" height="24" />
                                    <path
                                        d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                                        id="Shape" fill="#494b74" fill-rule="nonzero" opacity="0.3" />
                                    <path
                                        d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                                        id="Path" fill="#494b74" opacity="0.3" />
                                </g>
                            </svg>
                        </a>
                        <!-- <i class="fa fa-eye" title="Click Here to view Order Details"
                        class="material-icons md-dark pmd-md cursorPointer font25"
                        ng-click="$state.go('OrderDetails',{orderId: basketRow.orderId});"></i> -->
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="OrderIooCtrl.totalCount"
    paging-action="OrderIooCtrl.changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
    hide-if-empty="true" disabled-class="hide">
</div>


<script>
    $(function () {
        var today = new Date();
        // today.setDate(today.getDate() + 1)

        $('#startdate').datetimepicker({
            widgetPositioning: { vertical: "bottom" },
            format: 'YYYY-MM-DD'
            //minDate: today,

        })
        // .on('dp.change', function (e) {
        //     
        //     angular.element(document.getElementById('startdate')).scope().dateChange();
        // });


        $('#enddate').datetimepicker({
            widgetPositioning: { vertical: "bottom" },
            format: 'YYYY-MM-DD'
            // minDate: today,

        })
        // .on('dp.change', function (e) {
        //     
        //     angular.element(document.getElementById('enddate')).scope().dateChange();
        // });

        $("#startdate").on("dp.change", function (e) {
            $('#enddate').data("DateTimePicker").minDate(e.date);
            angular.element(document.getElementById('startdate')).scope().dateFromChange();
        });
        // Start date picke on chagne event [select maxmimum date for start date datepicker]
        $("#enddate").on("dp.change", function (e) {
            $('#startdate').data("DateTimePicker").maxDate(e.date);
            angular.element(document.getElementById('enddate')).scope().dateToChange();
        });
    });
</script>