<div id="bold">
		{{'editProductDetails' | translate}}
</div>
<div class="modal-content">

	<div class="modal-header bordered">
		<h2 class="pmd-card-title-text">{{'ProductDetails' | translate}}</h2>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" name="editProductDetailsForm">
			{{'Product' | translate}} :
			<strong>{{ProductDetailsDialoglCtrl.model.description[selectedLanguage]}}</strong>
			<div class="row">
				<!-- <div class="col-md-3  form-group pmd-textfield pmd-textfield-floating-label-completed">
					<label for="readonly"> {{'barCode' | translate}}
					</label>
					<input type="text" name="code" ng-model="ProductDetailsDialoglCtrl.model.barCode"
						aria-label="readonly" class="mat-input form-control">

				</div> -->

				<div class="col-md-3  form-group pmd-textfield pmd-textfield-floating-label-completed">
					<label for="readonly"><span style="color:red">*</span> {{'SKU' | translate}}
					</label>

					<select style="width:100% !important" class="form-control select-with-search pmd-select2-tags"
						ng-model="ProductDetailsDialoglCtrl.selectedskuId">
						<option ng-repeat="sku in ProductDetailsDialoglCtrl.SKUConversion" ng-value="{{sku.skuId}}">
							{{sku.titles[selectedLanguage]}}</option>

					</select>

				</div>
				<div class="col-md-3  form-group pmd-textfield pmd-textfield-floating-label-completed">
					<label for="readonly"><span style="color:red">*</span> {{'price' | translate}}
					</label>
					<input type="text" name="price" ng-model="ProductDetailsDialoglCtrl.model.priceList[0].price"
						required ng-minlength="0" ng-maxlength="5" class="mat-input form-control">
					<div ng-messages="editProductDetailsForm.price.$error">
						<div class="error"
							ng-show="editProductDetailsForm.price.$error.required && !editProductDetailsForm.price.$pristine">
							{{'requiredErr' | translate}}</div>


						<div class="error" ng-if="(editProductDetailsForm.price.$error.minlength ||
						editProductDetailsForm.price.$error.maxlength) 
						 && !editProductDetailsForm.price.$error.required">
							price length must be 0-5 char.
						</div>
					</div>

				</div>
				<div class="col-md-3  form-group pmd-textfield pmd-textfield-floating-label-completed">
					<label> {{'minQty' | translate}}
					</label>
					<input type="number" name="minQty" ng-model="ProductDetailsDialoglCtrl.model.minorderQty"
						ng-minlength="0" ng-maxlength="5" class="mat-input form-control">
					<div ng-messages="editProductDetailsForm.minQty.$error">
						<div class="error" ng-if="(editProductDetailsForm.minQty.$error.minlength ||
							editProductDetailsForm.minQty.$error.maxlength) 
							 && !editProductDetailsForm.minQty.$error.required">
							minQty length must be 0-5 char.
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4  form-group pmd-textfield pmd-textfield-floating-label-completed">
					<label for="readonly"> {{'IsPromoteProduct' | translate}}
					</label>
					<input type="checkbox" ng-model="ProductDetailsDialoglCtrl.model.isPormotedAllow">
				</div>
				<div class="col-md-3  form-group pmd-textfield pmd-textfield-floating-label-completed">
					<label for="readonly"> {{'status' | translate}}
					</label>
					
					<input type="checkbox" ng-model="ProductDetailsDialoglCtrl.model.isActive">
				</div>
				<div class="col-md-4  form-group pmd-textfield pmd-textfield-floating-label-completed">
					<label for="readonly"> {{'blockOnDate' | translate}}
					</label>
					<input name="itemDatetime" ng-model="ProductDetailsDialoglCtrl.model.blockOnDate" type="text"
						id="startdate" class="form-control" ng-change="dateChange();" />
				</div>
			</div>
		</form>

	</div>
	<div class="pmd-modal-action text-right">
		<button ng-disabled="editProductDetailsForm.$invalid  || 
		ProductDetailsDialoglCtrl.selectedskuId <= 0 " style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
			class="btn pmd-ripple-effect btn-primary" type="button"
			ng-click="ProductDetailsDialoglCtrl.UpdateSKUConversion()">{{'saveChangesBtn' | translate}}</button>
		<button class="btn pmd-ripple-effect btn-default pmd-btn-flat" type="button"
			ng-click="ProductDetailsDialoglCtrl.close()">{{'cancelBtn' | translate}}</button>
	</div>
</div>

<script>
	$(function () {
		var today = new Date();
		today.setDate(today.getDate() + 1)

		$('#startdate').datetimepicker({
			widgetPositioning: { vertical: "bottom" },
			minDate: today,

		})
			.on('dp.change', function (e) {
				
				angular.element(document.getElementById('startdate')).scope().dateChange();
			});
	});
</script>