<div class="modal-content container">
    <h2>{{ContactInformation | translate}} </h2>

    <div class="modal-body">
        <form class="form-horizontal" name="editRetailerForm">
            <div>
<!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}"
                        ng-repeat="lang in newCategoryCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab"
                            data-toggle="tab">
                            {{lang.value | translate}}
                        </a>
                    </li>
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
<!-- Tab panes -->
                        <div class="tab-content table-responsive">
<!-- name -->
                            <div class="form-group col-lg-2">
                                <label><span style="color:red" >*</span>  {{'Name' | translate}}</label>
                                <input type="text" class="form-control" name="name" style="display: inline-block; "
                                    ng-model="editRetailerCtrl.name" required />
                                <div class="error" ng-messages="editRetailerForm.name.$error">
                                    <div ng-if="editRetailerForm.name.$error.required && 
                                    !editRetailerForm.name.$pristine">{{'requiredErr' | translate}}</div>
                                </div>
                            </div>
<!-- title -->
                            <div class="form-group col-lg-2">
                                <label>{{'Title' | translate}}</label>
                                <input type="text" class="form-control" name="title" style="display: inline-block;"
                                    ng-model="editRetailerCtrl.title" required />
                            </div>
<!-- Mobile number -->
                            <div class="form-group col-lg-2">
                                <label> <span style="color:red" >*</span> {{'MobileNo' | translate}}</label>
                                <input required type="text" class="mat-input form-control" name="mobileNumber" numbers-only style="display: inline-block;"
                                  ng-minlength="11" ng-maxlength="20" 
                                 ng-model="editRetailerCtrl.mobileNumber"
                                 required />
<!-- required validation  -->
                                <div  ng-messages="editRetailerForm.mobileNumber.$error">
                                        <div class="error" ng-if="editRetailerForm.mobileNumber.$error.required && 
                                        !editRetailerForm.mobileNumber.$pristine">
                                        {{'requiredErr' |  translate}}
                                        </div>
<!-- length validation -->
                                        <div class="error"
                                            ng-if="(editRetailerForm.mobileNumber.$error.minlength ||
                                            editRetailerForm.mobileNumber.$error.maxlength) 
                                             && !editRetailerForm.mobileNumber.newmobileNumber.$error.required">
                                        {{'PhoneLengthError' | translate }}
                                        </div>
                                </div>
                            </div>
<!-- email -->
                            <div class="form-group col-lg-2">
                                <label>{{'EmailLbl' | translate}}</label>
                                <input type="text" class="form-control" name="email" style="display: inline-block;"
                                    ng-model="editRetailerCtrl.email" required />
                            </div>
<!-- contact Type -->
                            <!-- contact Type -->
                            <div class="form-group col-lg-2">
                                    <label>{{'ContactType' | translate}}</label>
                            <!-- required validation -->
                                    <select class="form-control select-tags pmd-select2-tags"
                                        ng-model="editRetailerCtrl.contactType" name="contactType">
                                        <option ng-repeat="contact in editRetailerCtrl.ContactTypeList" > 
                                            {{contact.titles[selectedLanguage]}}
                                        </option>
                                    </select>
                                
                            </div> 
                            <!-- {{size.sizeNameDictionary[selectedLanguage]}} -->

<!-- add button -->
                            <div class="col-lg-2">
                                <label>{{'Addtotable' | translate}}</label>
                                <input type="button" ng-click="editRetailerCtrl.AddContact()"
                                class="btn btn-primary" value="add"
                                style="height: 36px;border: #494b74 solid 1px;border-radius: 6px;">
                            </div>
                            <hr>
<!-- binding data from inputs to table -->
                            <table class="table pmd-table table-hover">
<!-- heads -->
                                <thead>
                                    <tr>
                                        <th>{{'Name' | translate}}</th>
                                        <th>{{'Title' | translate}}</th>
                                        <th>{{'MobileNo' | translate}}</th>
                                        <th>{{'EmailLbl' | translate}}</th>
                                        <th>{{'ContactType' | translate}}</th>
                                        <th>{{'Action' | translate}}</th>
                                    </tr>
                                </thead>
<!-- binding data -->
                                <tbody>
                                    <tr ng-repeat="(index,Contact) in editRetailerCtrl.Retailer.retailerContactInformation">
                                        <td data-title="Name">{{Contact.name}}</td>
                                        <td data-title="Title">{{Contact.title}}</td>
                                        <td data-title="mobileNumber"> {{Contact.mobileNumber}}</td>
                                        <td data-title="email">{{Contact.email}}</td>
                                        <td data-title="ContactType">{{Contact.title}}</td>
                                        <td data-title="Action">
                                            <input type="checkbox" ng-change="editRetailerCtrl.setContactMain(Contact)"
                                                ng-model="Contact.main">
                                        </td> 
                                        <td width="30%">
                                            <i
                                    class="material-icons pmd-md deleteButton cursorPointer font25" ng-click="editRetailerCtrl.openDeleteContactTypeDialog(index)"title="Delete">delete</i>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="(index,Contact1) in editRetailerCtrl.ContactList">
                                        <td data-title="Name">{{Contact1.name}}</td>
                                        <td data-title="Title">{{Contact1.title}}</td>
                                        <td data-title="mobileNumber"> {{Contact1.mobileNumber}}</td>
                                        <td data-title="email">{{Contact1.email}}</td>
                                        <td data-title="ContactType">{{editRetailerCtrl.contactType}}</td>
                                        <td data-title="Action">
                                            <input type="checkbox" ng-change="editRetailerCtrl.setContactMain(Contact1)"
                                                ng-model="Contact1.checkbox">
                                        </td>
                                        <td width="30%">
                                            <i
                                    class="material-icons pmd-md deleteButton cursorPointer font25" ng-click="editRetailerCtrl.openDeleteContactTypeDialogContactList(index)"title="Delete">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>