<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 50%;
        width: 50%;
        position: unset !important;
        overflow: initial !important;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }
</style>
<div class="modal-content container">
    <h2>{{'Map' | translate}}</h2>

    <div class="modal-body">
        <div class="row" style="    padding-bottom: 8%;">
            <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">

            </div>
        </div>
        <div class="row" style="    padding-left: 18%;">
            <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">
                <div id="map"></div>
                <div id="infowindow-content">
                    <img src="" width="16" height="16" id="place-icon">
                    <span id="place-name" class="title"></span><br>
                    <span id="place-address"></span>
                </div>
            </div>

        </div>
    </div>
</div>