<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 50%;
        width: 50%;
        position: unset !important;
        overflow: initial !important;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }
</style>
<div class="modal-content container">
    <h2>{{'commercialInformation' | translate}}</h2>

    <div class="modal-body">
        <form class="form-horizontal" name="newRetailerForm">
            <div>
                <div class="form-group pmd-textfield-floating-label-completed">
                    <span style="color:red">*</span>
                    <label for="image" class="btn btn-success btn-xs pull-center" name="upload" Value="">Upload
                        Photo</label>
                    <input id="image" class="hidden" type="file" img-upload ng-model="imageName" name="imageName">
                    <img ng-src="{{image}}" height="100" width="100" ng-show="image" />

                    <span> <i class="material-icons md-dark pmd-md warrningIcon">warning</i>
                        {{'RecommendedProductImage' | translate}}</span>

                </div>
<!-- 
                <div class="row" style="margin: 25%;">
                    <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">
                        <label for="readonly"><span style="color:red">*</span> {{'map' | translate}}
                        </label>
                        <div id="map"></div>

                    </div>
                </div> -->
            </div>
    </div>