<div class="modal-content container">
    <div class="modal-body">
      <form class="newretailerForm" name="newretailerForm">
        <div>
          <!-- Nav tabs -->
          <ul>
            <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in newmangactureCtrl.language">
              <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab"
                data-toggle="tab">
                {{lang.value | translate}}
              </a>
            </li>
          </ul>
          <div>
            <div>
              <!-- Tab panes -->
              <div class="tab-content table-responsive">
                <h2> <label for="readonly">{{'infoLbl' | translate}} </label></h2>
                <!-- left side -->
                <div class="form-group col-lg-6">
                  <!-- input name  -->
                  <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label for="first-name"><span style="color:red">*</span> {{'Name' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="nameStepOne"
                      ng-model="newRetailerCtrl.nameStepOne" ng-minlength="3" ng-maxlength="255">
                    <!-- length validation  -->
                    <div ng-messages="newretailerForm.nameStepOne.$error" class="error">
                      <div ng-show="newretailerForm.nameStepOne.$error.pattern">{{'TextOnly' | translate}}</div>
                      <div
                        ng-if="newretailerForm.nameStepOne.$error.required && !newretailerForm.nameStepOne.$pristine">
                        {{'NameError' | translate}}</div>
                      <!-- required validation -->
                      <div
                        ng-if="(newretailerForm.nameStepOne.$error.minlength || newretailerForm.nameStepOne.$error.maxlength) ">
                        {{'NameLengthError3'
                      | translate}}</div>
                    </div>
                  </div>
                  <!-- code field -->
                  <!-- <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label for="readonly"><span style="color:red">*</span> {{'codeLbl' | translate}}
                    </label>
                    <input type="text" name="code" ng-readonly="true" ng-model="newRetailerCtrl.code"
                      aria-label="readonly" class="mat-input form-control">
                    <br>
                  </div> -->
                  <!-- Address field  -->
                  <label>
                    <span style="color:red">*</span> {{'AddressLbl' | translate}}
                    <br>
                    <textarea name="address" ng-model="newRetailerCtrl.address" required style="width: 250%;"
                      ng-minlength="11" placeholder="{{'addyouraddresshere' | translate}}" required>
                      </textarea>
                  </label>
                  <!-- length validation -->
                  <div ng-messages="newretailerForm.address.$error" class="error">
                    <div ng-show="newretailerForm.address.$error.pattern">{{'TextOnly' | translate}}</div>
                    <div ng-if="newretailerForm.address.$error.required && !newretailerForm.address.$pristine">
                      {{'nameLengthError' | translate}}</div>
                    <div
                      ng-if="(newretailerForm.address.$error.minlength || newretailerForm.address.$error.maxlength) ">
                      {{'NameLengthError255'
                      | translate}}</div>
                  </div>
                  <div>
                    <!-- required validation -->
                    <span class="error"
                      ng-show="newretailerForm.address.$error.required && !newretailerForm.address.$pristine">
                      {{'RequiredLbl' | translate}}
                    </span>
                    <span class="error" ng-show="newretailerForm.address.$error.maxlength">
                      Too long!
                    </span>
                  </div>
                  <!-- email field  -->
                  <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label>
                      {{'EmailLbl' | translate}}</label>
                    <input type="text" class="mat-input form-control" name="emailStepOne"
                      ng-model="newRetailerCtrl.emailStepOne"
                      ng-pattern="/^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/">
                    <!-- email validation -->
                    <span class="error"
                      ng-show="newretailerForm.emailStepOne.$error.pattern">{{'WrongMail' | translate}}
                    </span>
                  </div>
                  <!-- website field  -->
                  <!-- <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label>
                      {{'websiteLbl' | translate}} </label>
                    <br>
                    <input type="url" name="newRetailerCtrl.url" ng-model="newRetailerCtrl.url" class="mat-input form-control ng-pristine ng-untouched
                        ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength">
                    <label>
                  </div> -->
                </div>
                <!-- right side  -->
                <div class="form-group col-lg-6">
                  <!-- country --- drop down  -->
                  <div
                    class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name"><span style="color:red">*</span> {{'Country' | translate}}</label>
                    <select class="select-tags form-control pmd-select2-tags" name="countryId"
                      ng-change="newRetailerCtrl.countryChange()" ng-model="newRetailerCtrl.selectedCountryId"
                      ng-options="group.countryId  as group.titles[selectedLanguage] for group in newRetailerCtrl.countries">
                    </select>
                    <div>
                      <!-- required validation -->
                      <span class="error"
                        ng-show="newretailerForm.results[countryId].$error.required && !newretailerForm.results[countryId].$pristine">
                        {{'RequiredLbl' | translate}} </span>
                      <span class="error" ng-show="newretailerForm.results[countryId].$error.results[countryId]">
                        {{' NotvalidLbl' | translate}}</span>
                    </div>
                  </div>
                  <!-- governrate based on country id  -->
                  <div 
                    class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name"><span style="color:red">*</span> {{'Governrate' | translate}}</label>
                    <select class="select-tags form-control pmd-select2-tags" name="governrateId"
                      ng-change="newRetailerCtrl.GovernrateChange()" ng-model="newRetailerCtrl.selectedGovernrateId"
                      ng-options="group.governrateId as group.titles[selectedLanguage] for group in newRetailerCtrl.Governrates">
                    </select>
                    <div>
                      <span class="error"
                        ng-show="newretailerForm.governrateId.$error.required && !newretailerForm.governrateId.$pristine">
                        {{'RequiredLbl' | translate}} </span>
                      <span class="error" ng-show="newretailerForm.governrateId.$error.governrateId">
                        {{' NotvalidLbl' | translate}}</span>
                    </div>
                  </div>
                  <!-- city based on governrate -->
                  <div 
                    class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name"><span style="color:red">*</span> {{'City' | translate}}</label>
                    <select class="select-tags form-control pmd-select2-tags" name="cityId"
                     ng-change="newRetailerCtrl.cityChange()"
                      ng-model="newRetailerCtrl.selectedCityId" name="cityId"
                      ng-options="group.cityId as group.titles[selectedLanguage] for group in newRetailerCtrl.cities">
                    </select>
                  </div>
                  <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label>{{'DistrictLbl' | translate}}</label>
                    <input type="text" class="form-control" name="district" 
                    ng-model="newRetailerCtrl.district" >
                  </div>
                  <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label> {{'PoliceStationLbl' | translate}}</label>
                    <input type="text" class="form-control" name="pStation" 
                    ng-model="newRetailerCtrl.pStation" >
                  </div>
                  <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label>{{'LblCenter' | translate}}</label>
                    <input type="text" class="form-control" name="center" 
                    ng-model="newRetailerCtrl.center"> 
                  </div>
                  <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label>{{'AreaLbl' | translate}}</label>
                    <input type="text" class="form-control" name="area" 
                    ng-model="newRetailerCtrl.area ">
                  </div>
                  <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label>{{'VillageLbl' | translate}}</label>
                    <input type="text" class="form-control" name="village" 
                    ng-model="newRetailerCtrl.village"   > 
                   
                      </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  
  