<div>
    <div class="row">
        <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">

            <button ng-show="user.userPermissions['Admin'].add_user" style="background: linear-gradient(90deg,#f7e483,#dbba5a 57%,#a36d31);
            border-radius: 17px;" ng-click="$state.go('addUser');"
                class="btn pmd-ripple-effect btn-primary pmd-z-depth"
                type="button">{{'AddUserBtn' | translate}}</button>

        </div>
        <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">

            <div class="form-group col-lg-4"> <label for="first-name">{{'Role' | translate}}</label>
                <select required style="width:100% !important;color:#6c7293!important;"
                    class="form-control select-with-search pmd-select2-tags" ng-model="userCtrl.selectedRole"
                    ng-change="userCtrl.changeUserType()"
                    ng-options="group as group.name  for group in userCtrl.roleList">
                </select>
            </div>


        </div>
    </div>
    <div ng-if="userCtrl.userList.length == 0">
        <span>{{'NouserAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="userCtrl.userList.length >0">

        <div class="table-responsive">
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th>{{'username' | translate}}</th>
                        <th>{{'fullname' | translate}}</th>
                        <th>{{'email' | translate}}</th>
                        <th>{{'gender' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="userObj in userCtrl.userList">

                        <td width="20%">{{userObj.userName}}</td>
                        <td width="20%">{{userObj.fullName}}</td>
                        <td width="20%">{{userObj.email}}</td>
                        <td width="20%">{{userObj.gender}}</td>

                        <td>
                            <i ng-show="user.userPermissions['Admin'].edit_user"
                                class="material-icons md-dark pmd-md cursorPointer font25"
                                ng-click="$state.go('editUser',{userId: userObj.id});" title="Edit">mode_edit</i>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="userCtrl.totalCount"
        paging-action="userCtrl.changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
        hide-if-empty="true" disabled-class="hide">
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $(".select-with-search").select2({
            theme: "bootstrap"
        });
    });
    $(".select-tags").select2({
        tags: false,
        theme: "bootstrap",
    });
</script>