<div id="bold">
    {{'userManufacture' | translate}}
</div>
<div ng-show="user.userTypeId == 4 || user.userTypeId ==5">

    <div>
        <div ng-if="userManufactureCtrl.userList.length == 0">
            <span>{{'NouserAvailable' | translate}}</span>
        </div>
        <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="userManufactureCtrl.userList.length >0">

            <div class="table-responsive">
                <table class="table pmd-table table-hover">
                    <thead>
                        <tr>
                            <th>{{'image' | translate}}</th>
                            <th>{{'Account' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="userObj in userManufactureCtrl.userList">
                            <td width="20%">
                                <img ng-src="{{appCONSTANTS.Image_URL_ACTOR}}{{userObj.image}}" width="50px"
                                    class="avatar">
                            </td>
                            <td width="20%">{{userObj.title}} </td>

                            <td width="30%">
                                <button
                                    style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
                                    ng-click="$state.go('addUser',{tenantId : userObj.tenantId,userType:2,userId:user.id});"
                                    class="btn pmd-ripple-effect btn-primary pmd-z-depth"
                                    type="button">{{'AddUserBtn' | translate}}</button>


                            </td>
                            <td class="pmd-table-row-action">
                                <span href="javascript:void(0);" ng-if="userObj.users.length >0 "
                                    ng-click="userObj.show=!userObj.show;userManufactureCtrl.showMore($event)" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect 
                                    btn-default btn-sm child-table-expand direct-expand">
                                    <i class="material-icons md-dark pmd-sm"></i></span>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr ng-repeat-end ng-repeat="userRow in userObj.users" ng-show="userObj.show" id="collapse">
                            <td>{{ userRow.userName}}</td>
                            <td>{{ userRow.email}}</td>
                            <td>{{ userRow.mobileNumber}}</td>
                            <td> <span ng-show="userRow.isMaster">
                                    <!-- {{user.permessionModules}} -->
                                    <img ng-click="userManufactureCtrl.ChangeRole(userRow)"
                                        src="../../../../assets/img/admin.png" alt="admin">
                                </span> <span ng-show="!userRow.isMaster">
                                    <img ng-click="userManufactureCtrl.ChangeRole(userRow)"
                                        src="../../../../assets/img/user.png" alt="User">
                                </span>


                            </td>
                            <td>
                                <div>
                                    <div class="btn-switch" ng-class="{'btn-switch--on':userRow.isActive}"
                                        ng-model="userRow.isActive"
                                        ng-click="userManufactureCtrl.ChangeStatus(userRow)">

                                        <div class="btn-switch-circle"
                                            ng-class="{'btn-switch-circle--on':userRow.isActive}"
                                            ng-model="userRow.isActive"
                                            ng-click="userManufactureCtrl.ChangeStatus(userRow)">
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="user.permessionModules['Product'].includes(12)==false"
                                    title="You don't have permssion">
                                    <div class="btn-switch" ng-class="{'btn-switch--on':userRow.isActive}"
                                        ng-model="userRow.isActive">

                                        <div class="btn-switch-circle"
                                            ng-class="{'btn-switch-circle--on':userRow.isActive}"
                                            ng-model="userRow.isActive">
                                        </div>
                                    </div>

                            </td>
                            <td>
                                <i class="material-icons md-dark pmd-md cursorPointer font25"
                                    ng-click="$state.go('editUser', {userId: userRow.userId,userType:2});"
                                    title="Edit">mode_edit</i>
                            </td>
                        </tr>
                        <!-- <tr ng-repeat-end class="child-table" ng-show="userObj.show">
                        {{userObj}}
                        <div class="direct-child-table">
                            <table class="table pmd-table table-striped table-sm">
                                <thead>
                                    <tr>

                                        <th>{{'username' | translate}}</th>
                                        <th>{{'email' |translate}}</th>
                                        <th>{{'phone'|translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="userDetail in userObj.tenant.users">

                                        <td>{{userDetail.username}}</td>


                                        <td>{{userDetail.users.email}}</td>
                                        <td>{{userDetail.users.email}}</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </tr> -->
                    </tbody>
                </table>
            </div>

        </div>

        <div style="text-align:center;direction: ltr" paging page="1" page-size="10"
            total="userManufactureCtrl.totalCount" paging-action="userManufactureCtrl.changePage(page)" flex="nogrow"
            show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
        </div>
    </div>
</div>
<div ng-show="user.userTypeId == 2 || user.userTypeId ==7"> 
    <button ng-show="user.permessionModules['ManufactureUser'].includes(94)"
    style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
        ng-click="$state.go('addUser',{tenantId : user.tenantId,userType:2});"
        class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddUserBtn' | translate}}</button>

    <div ng-if="userManufactureCtrl.userList.length == 0">
        <span>{{'NouserAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="userManufactureCtrl.userList.length >0">

        <div class="table-responsive">
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th>{{'fullname' | translate}}</th>
                        <th>{{'username' | translate}}</th>
                        <th>{{'mail' | translate}}</th>
                        <th>{{'phone' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="userRow in userManufactureCtrl.userList">
                        <td>{{ userRow.userName}}</td>
                        <td>{{ userRow.fullName}}</td>
                        <td>{{ userRow.email}}</td>
                        <td>{{ userRow.mobileNumber}}</td>

                        <td>
                            <i ng-show="user.permessionModules['ManufactureUser'].includes(97)" class="material-icons md-dark pmd-md cursorPointer font25"
                                ng-click="$state.go('editUser', {userId: userRow.userId,userType:2 ,userId :user.id});"
                                title="Edit">mode_edit</i>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

    </div>

    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="userManufactureCtrl.totalCount"
        paging-action="userManufactureCtrl.changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
        hide-if-empty="true" disabled-class="hide">
    </div>
</div>