<div  id="bold">
    {{'user' | translate}}
</div>
<div>
    <!-- <div style="margin-bottom:10px">
            <button style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
                ng-click="$state.go('addUser');" class="btn pmd-ripple-effect btn-primary pmd-z-depth"
                type="button">{{'AddUserBtn' | translate}}</button>
    
        </div> -->
    <div class="row">
        <div class="col-md-6  form-group pmd-textfield pmd-textfield-floating-label-completed">
            <input type="radio" ng-change="userCtrl.changeUserType(1)" ng-model="userCtrl.isChecked" ng-value="1">
            {{'Retailer' | translate}}
            <input type="radio" ng-change="userCtrl.changeUserType(2)" ng-model="userCtrl.isChecked" ng-value="2">
            {{'ManufactureLbl' | translate}}
            <input type="radio" ng-change="userCtrl.changeUserType(3)" ng-model="userCtrl.isChecked" ng-value="3">
            {{'DistributorLbl' | translate}}

        </div>
    </div>
    <div ng-if="userCtrl.userList.length == 0">
        <span>{{'NouserAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="userCtrl.userList.length >0">

        <div class="table-responsive">
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th>{{'image' | translate}}</th>
                        <th>{{'Account' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="userObj in userCtrl.userList">
                        <td width="20%">
                            <img ng-src="{{appCONSTANTS.Image_URL_ACTOR}}{{userObj.image}}" width="50px" class="avatar">
                        </td>
                        <td width="20%">{{userObj.title}}</td>

                        <td width="30%">
                            <button
                                style="border: #494b74 solid 1px;background-color: transparent;color: #494b74;border-radius: 6px;"
                                ng-click="$state.go('addUser',{tenantId : userObj.tenantId,userType:userCtrl.currentTenantType});"
                                class="btn pmd-ripple-effect btn-primary pmd-z-depth"
                                type="button">{{'AddUserBtn' | translate}}</button>

                        </td>
                        <td class="pmd-table-row-action">
                            <span href="javascript:void(0);" ng-if="userObj.users.length >0 "
                                ng-click="userObj.show=!userObj.show;userCtrl.showMore($event)"
                                class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm child-table-expand direct-expand"><i
                                    class="material-icons md-dark pmd-sm"></i></span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr ng-repeat-end ng-repeat="userRow in userObj.users" ng-show="userObj.show" id="collapse">
                        <td>{{ userRow.userName}}</td>
                        <td>{{ userRow.email}}</td>
                        <td>{{ userRow.mobileNumber}}</td>
                        <td>
                            <span ng-show="userRow.isMaster">
                                <img ng-click="userCtrl.ChangeRole(userRow)"
                                    src="../../../../assets/img/admin.png" alt="admin">
                            </span>
                            <span ng-show="!userRow.isMaster">
                                <img ng-click="userCtrl.ChangeRole(userRow)"
                                    src="../../../../assets/img/user.png" alt="User">
                            </span>
                        </td>
                        <td>
                            <div>
                                <div class="btn-switch" ng-class="{'btn-switch--on':userRow.isActive}"
                                    ng-model="userRow.isActive" ng-click="userCtrl.ChangeStatus(userRow)">

                                    <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':userRow.isActive}"
                                        ng-model="userRow.isActive" ng-click="userCtrl.ChangeStatus(userRow)">
                                    </div>
                                </div>
                            </div>
                            <div ng-if="user.permessionModules['Product'].includes(12)==false"
                                title="You don't have permssion">
                                <div class="btn-switch" ng-class="{'btn-switch--on':userRow.isActive}"
                                    ng-model="userRow.isActive">

                                    <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':userRow.isActive}"
                                        ng-model="userRow.isActive">
                                    </div>
                                </div>

                        </td>
                        <td>
                            <i class="material-icons md-dark pmd-md cursorPointer font25"
                                ng-click="$state.go('editUser', {userId: userRow.userId,userType:userCtrl.currentTenantType});"title="Edit">mode_edit</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="userCtrl.totalCount"
        paging-action="userCtrl.changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
        hide-if-empty="true" disabled-class="hide">
    </div>
</div>