<div>
    <div style="margin-bottom:10px" ng-show="user.PermessionModules['News'].includes('add_new')"> 
        <button
         style="background: linear-gradient(90deg,#f7e483,#dbba5a 57%,#a36d31);
        border-radius: 17px;" 
        ng-click="$state.go('newArtWork');" class="btn pmd-ripple-effect btn-primary pmd-z-depth"
            type="button">
            {{'AddNew'| translate}}</button>
    </div>

    <div ng-if="ArtWorkList.length == null">
        <span>{{'NoArtWorksAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="ArtWorkList.length > 0">
        <div class="table-responsive" style="border: 1px solid #21231e;
        border-radius: 20px;
        background-color: #0e0e0e;
        box-shadow: 0 0 10px 5px rgba(0,0,0,.35);
    ">
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th>{{'poster' | translate}}</th>
                        <th>{{'title' | translate}}</th>
                        <th>{{'award' | translate}}</th>
                        <th>{{'fileCount' | translate}}</th>
                        <th>{{'Ready for review' | translate}}</th>
                        <th>{{'paymentStatus' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ArtWork in ArtWorkList"
                        ng-class="{waiting:ArtWork.payment.paymentStatus == 'waiting'}">
                        <td>
                            <img style="width: 70px;height: 70px;" data-ng-src="{{ArtWork.posterUrl}}" />
                        </td>
                        <td data-title="Name">
                            {{ArtWork.title[selectedLanguage]   | limitTo : 20}}
                            {{ArtWork.title[selectedLanguage].length > 20 ? '...' : ''}}
                        </td>
                        <td data-title="Name">
                            {{ArtWork.award.title[selectedLanguage]   | limitTo : 20}}
                            {{ArtWork.award.title.length > 20 ? '...' : ''}}
                        </td>
                        <td data-title="uploadComplete">
                            {{ArtWork.fileCount}}
                        </td>
                        <td data-title="uploadComplete">
                            {{ArtWork.uploadComplete}}
                        </td>
                        <td data-title="paymentStatus">
                            {{ArtWork.payment.paymentStatus}}
                        </td>
                        <td width="30%">
                            <i ng-show="user.PermessionModules['News'].includes('add_new')"
                                class="material-icons md-dark pmd-md perm_media font25"
                                ng-click="$state.go('editArtWork',{id: ArtWork.id});" title="Edit">mode_edit</i>

                            <i ng-show="user.PermessionModules['News'].includes('add_new')"
                                class="material-icons md-dark pmd-md perm_media font25"
                                ng-click="$state.go('ArtWorkpayment',{id: ArtWork.id});" title="payment">payment</i>

                            <i ng-show="user.PermessionModules['News'].includes('add_new')"
                                class="material-icons md-dark pmd-md perm_media font25"
                                ng-click="$state.go('newArtWorkMedia',{id: ArtWork.id});" title="media">perm_media</i>

                            <!-- <i ng-show="user.PermessionModules['News'].includes('add_new')"
                                class="material-icons md-dark pmd-md cursorPointer font25"
                                ng-click="$state.go('ArtWorkpayment',{id: ArtWork.id});" title="payment"><img
                                    src="../../../../assets/img/payment.png"></img></i>

                            <i ng-show="user.PermessionModules['News'].includes('add_new')"
                                class="material-icons md-dark pmd-md cursorPointer font25"
                                ng-click="$state.go('newArtWorkMedia',{id: ArtWork.id});" title="media"><img
                                    src="../../../../assets/img/media.png"></img></i> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="text-align:center;direction: ltr" paging page="1" page-size="10" total="totalCount"
        paging-action="ArtWorkCtrl.changePage(page)" flex="nogrow" show-prev-next="true" show-first-last="true"
        hide-if-empty="true" disabled-class="hide">
    </div>
</div>